<html lang="en" ng-app="Stock-CMS">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>AFFIDAVIT Pedigree - legal hier certi.</title>
    <style type="text/css">
        * {
            margin: 0;
            padding: 0;
            text-indent: 0;
        }

        .p,
        p {
            color: black;
            font-family: "Times New Roman", serif;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            font-size: 14pt;
            margin: 0pt;
        }

        .s2 {
            color: black;
            font-family: Calibri, sans-serif;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            font-size: 12pt;
        }

        .s3 {
            color: black;
            font-family: Arial, sans-serif;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            font-size: 12pt;
        }

        .s4 {
            color: black;
            font-family: Arial, sans-serif;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            font-size: 8pt;
            vertical-align: 4pt;
        }

        .s5 {
            color: black;
            font-family: "Times New Roman", serif;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            font-size: 14pt;
        }

        li {
            display: block;
        }

        #l1 {
            padding-left: 0pt;
            counter-reset: c1 1;
        }

            #l1 > li > *:first-child:before {
                counter-increment: c1;
                content: counter(c1, decimal) ". ";
                color: black;
                font-family: "Times New Roman", serif;
                font-style: normal;
                font-weight: normal;
                text-decoration: none;
                font-size: 14pt;
            }

            #l1 > li:first-child > *:first-child:before {
                counter-increment: c1 0;
            }

        table,
        tbody {
            vertical-align: top;
            overflow: visible;
        }
        /* Table Styles */
        .styled-table {
            border-collapse: collapse;
            margin-left: 27.5pt;
        }

        /* Common Styles for Table Cells */
        .column {
            border: 1pt solid black;
            padding: 8pt;
            text-align: left;
        }

        .name {
            width: 95pt;
        }

        .age {
            width: 68pt;
        }

        .relationship {
            width: 81pt;
            text-align: center;
        }

        .status {
            width: 74pt;
        }

        .photo {
            width: 85pt;
        }

        /* Text Styles */
        .text {
            margin: 0;
            padding: 0;
        }

        .text-left {
            padding-left: 23pt;
            text-indent: -2pt;
        }

        .text-center {
            text-align: center;
            padding-left: 3pt;
        }

        .text-indent {
            text-indent: 10pt;
        }

        .card {
            border-radius: 10px;
            overflow: hidden;
        }

        .form-group {
            margin-bottom: 1.5rem;
        }

        .form-label {
            font-size: 1.1rem;
            font-weight: 600;
        }

        .form-select {
            width: 100%;
            padding: 0.75rem;
            border-radius: 5px;
            border: 1px solid #ddd;
            font-size: 1rem;
        }

        .btn-primary {
            width: 100%;
            padding: 12px 16px;
            text-transform: uppercase;
            font-weight: bold;
            transition: background-color 0.3s ease, transform 0.2s ease;
        }

            .btn-primary:hover {
                background-color: #0056b3;
                transform: scale(1.05);
            }
    </style>
</head>

<body style="padding: 5%;" ng-controller="FormController">

    <div class="row align-items-center">
        <!-- Arrow Icon aligned to the left -->
        <a class="col-md-1 text-start" style="font-size:35px;" ng-click="navtogenerateform()">
            <i class="bi bi-arrow-left"></i>
        </a>

        <!-- Centered Heading -->
        <div class="col-md-10 text-center">
            <h3>AFFIDAVIT Pedigree - legal hier certi.</h3>
        </div>
    </div>

    <div ng-if="hDiv" class="container my-5">
        <div class="card shadow-sm">
            <div class="card-body">
                <form name="gForm" ng-submit="genrateForm()">
                    <h4 class="card-title text-center mb-4" style="color:#003980;">Generate Form</h4>

                    <div class="row">
                        <!-- Select Customer Dropdown -->
                        <div class="col-md-4 mb-3">
                            <div class="form-group">
                                <label for="seletedId" class="form-label">Select Customer</label>
                                <select class="form-select" ng-options="f.id as f.name for f in doc" ng-model="seletedId" ng-change="loadCustomers(seletedId,heirId)">
                                    <option selected disabled value="">Select customer</option>
                                </select>
                            </div>
                        </div>

                        <!-- Select Heir Dropdown -->
                        <div class="col-md-4 mb-3">
                            <div class="form-group">
                                <label for="heirId" class="form-label">Select Heir</label>
                                <select class="form-select" ng-options="g.id as g.name for g in heirs" ng-model="heirId" ng-change="loadCustomers(seletedId,heirId)">
                                    <option selected disabled value="">Select Heir</option>
                                </select>
                            </div>
                        </div>

                        <!-- Place of Submission -->
                        <div class="col-md-4 mb-3">
                            <div class="form-group">
                                <label for="place" class="form-label">Place</label>
                                <input type="text" ng-model="data.place" class="form-control" placeholder="Place of Form Submission">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- Occupation -->
                        <div class="col-md-4 mb-3">
                            <div class="form-group">
                                <label for="occupation" class="form-label">Occupation</label>
                                <input type="text" ng-model="data.occupation" class="form-control" placeholder="Occupation">
                            </div>
                        </div>

                        <!-- Select Witness Dropdown -->
                        <div class="col-md-4 mb-3">
                            <div class="form-group">
                                <label for="fwitness" class="form-label">Select 1st Witness</label>
                                <select class="form-select" ng-options=" x.witnessname as x.witnessname for x in witnesslist" ng-model="data.fwitness" ng-change="fwitnessselect(data.fwitness,data.switness)">
                                    <option selected disabled value="">Select Witness</option>
                                </select>
                            </div>
                        </div>


                        <!-- Select Witness Dropdown -->
                        <div class="col-md-4 mb-3">
                            <div class="form-group">
                                <label for="switness" class="form-label">Select 2nd Witness</label>
                                <select class="form-select" ng-options=" x.witnessname as x.witnessname for x in witnesslist" ng-model="data.switness" ng-change="switnessselect(data.fwitness,data.switness)">
                                    <option selected disabled value="">Select Witness</option>
                                </select>
                            </div>
                        </div>
                        
                    </div>

                    <!-- Submit Button -->
                    <div class="col-md-4 d-flex align-items-center justify-content-center mb-3">
                        <button type="submit" class="btn btn-primary px-4" style="background-color:#003980; color:white; border-radius: 5px;">
                            Generate Form
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div id="printForm">
        <p style="
        padding-top: 3pt;
        padding-left: 91pt;
        text-indent: -46pt;
        line-height: 108%;
        text-align: left;
      ">
            <u>PEDIGREE / LEGAL HEIR’S CERTIFICATE / SURVIVING</u>
            <u>MEMBER’S DECLARATION / AFFIDAVIT</u>
        </p>
        <p style="text-indent: 0pt; text-align: left"><br /></p>
        <p style="
        padding-left: 27pt;
        text-indent: 0pt;
        line-height: 200%;
        text-align: justify;
      ">
            I the undersigned@*  PRAVIN GORDHANBHAI PATEL *@{{data.customerName}} Age – @* 79 *@ {{data.age}}years, Occupation:{{data.occupation}}
            @* Retired *@, Residing at: @* 99, ASUTOSH NAGAR SOCIETY, KARELIBAUG, VADODARA,
        GUJARAT – 390018 *@{{data.address}}<span class="s2">.</span>
        </p>
        <p style="
        padding-left: 27pt;
        text-indent: 0pt;
        line-height: 16pt;
        text-align: justify;
      ">
            do hereby solemnly affirm and declare on oath as under:-
        </p>
        <p style="padding-top: 7pt; text-indent: 0pt; text-align: left"><br /></p>
        <ol id="l1">
            <li data-list-text="1.">
                <p style="
            padding-left: 63pt;
            text-indent: -18pt;
            line-height: 200%;
            text-align: left;
          ">
                    I the undersigned is residing at above mentioned address with my
                    family.
                </p>
            </li>
            <li data-list-text="2.">
                <p style="padding-left: 63pt; text-indent: -17pt; text-align: left">
                    That my father @* GORDHANBHAI BECHARBHAI PATEL *@{{data.sonof}}
                </p>
            </li>
        </ol>
        <p class="s3"
           style="
        padding-top: 16pt;
        padding-left: 63pt;
        text-indent: 0pt;
        line-height: 200%;
        text-align: left;
      ">
            <span class="p">was expired on Date </span>@*31<span class="s4">ST</span>
        MARCH 1999 *@ {{data.dateofdeath | dateWithSuffix }}
            <span class="p">after death of my father legal heirs of my father is as under :-</span>
        </p>
        <p style="text-indent: 0pt; text-align: left"><br /></p>
        <table class="styled-table">
            <tr class="row">
                <td class="column name">
                    <p class="text">Name Of Member</p>
                </td>
                <td class="column age">
                    <p class="text">Age (In Yrs.)</p>
                </td>
                <td class="column relationship">
                    <p class="text">Relationship with Deceased</p>
                </td>
                <td class="column status">
                    <p class="text">Live / Deceased</p>
                </td>
                <td class="column photo">
                    <p class="text">Photo</p>
                </td>
            </tr>
            <tr class="row" ng-repeat="heir in heirlist">
                <td class="column name">
                    <p class="text">{{heir.name}}</p>
                </td>
                <td class="column age">
                    <p class="text">{{calculateAge(heir.dob,heir.dateOfDeath)}}</p>
                </td>
                <td class="column relationship">
                    <p class="text">{{heir.relationWithDead}}</p>
                </td>
                <td class="column status">
                    <p class="text">{{heir.isDead ? 'Deceased' : 'Live'}}</p>
                </td>
                <td class="column photo">
                    <p class="text"></p>
                </td>
            </tr>
            @*<tr class="row">
            <td class="column name">
                <p class="text">Pravin Gordhanbhai Patel</p>
            </td>
            <td class="column age">
                <p class="text">79</p>
            </td>
            <td class="column relationship">
                <p class="text">Son</p>
            </td>
            <td class="column status">
                <p class="text">Alive</p>
            </td>
            <td class="column photo">
                <p class="text"></p>
            </td>
        </tr>*@
        </table>

        <p style="text-indent: 0pt; text-align: left"><br /></p>
        <p style="
        padding-left: 27pt;
        text-indent: 16pt;
        line-height: 200%;
        text-align: justify;
      ">
            That above mentioned pedigree/legal heir’s certificate is true and correct
            and mentioned in this pedigree/legal heir’s certificate all names of legal
            heirs of Late Father @* GORDHANBHAI BECHARBHAI PATEL *@{{data.sonof}} are true and correct.
        </p>
        <p style="
        padding-top: 3pt;
        padding-left: 27pt;
        text-indent: 4pt;
        line-height: 200%;
        text-align: justify;
      ">
            This Affidavit/ legal heir’s certificate executing for the intention to
            declare all legal heirs of @*GORDHANBHAI BECHARBHAI PATEL *@{{ data.sonof}} with concern
            competent authority for necessary works, obtain pedigree/ legal heir’s
            certificate and also enter the legal heirs in deceased in his movable and
            immovable property.
        </p>
        <p style="
        padding-top: 8pt;
        padding-left: 27pt;
        text-indent: 71pt;
        line-height: 200%;
        text-align: justify;
      ">
            Whatever is mentioned in this Affidavit/ legal heir’s certificate is true
            and correct to the best of my knowledge and belief.
        </p>
        <p style="
        padding-top: 8pt;
        padding-left: 27pt;
        text-indent: 0pt;
        line-height: 150%;
        text-align: justify;
      ">
            Date: {{data.today | date:'__/MM/yyyy'}}. Place: {{data.place}}.
        </p>
        <table class="styled-table">
            <tr class="header-row">
                <td class="header-cell" colspan="4">
                    <p class="text-center">Witness :- 1</p>
                </td>
            </tr>
            <tr class="data-row">
                <td class="column name">
                    <p class="text-left">Name</p>
                </td>
                <td class="column address">
                    <p class="text-left">Address</p>
                </td>
                <td class="column sign">
                    <p class="text-left">Sign</p>
                </td>
                <td class="column photo">
                    <p class="text-left">Photo</p>
                </td>
            </tr>
            <tr class="data-row">
                <td class="column name">
                    <p class="text-left">{{data.witness1name}}</p>
                </td>
                <td class="column address">
                    <p class="text-left">{{data.witness1address}}</p>
                </td>
                <td class="column sign">
                    <p class="text-left"></p>
                </td>
                <td class="column photo">
                    <p class="text-left"></p>
                </td>
            </tr>
            <tr class="header-row">
                <td class="header-cell" colspan="4">
                    <p class="text-center">Witness :- 2</p>
                </td>
            </tr>
            <tr class="data-row">
                <td class="column name">
                    <p class="text-left">Name</p>
                </td>
                <td class="column address">
                    <p class="text-left">Address</p>
                </td>
                <td class="column sign">
                    <p class="text-left">Sign</p>
                </td>
                <td class="column photo">
                    <p class="text-left">Photo</p>
                </td>
            </tr>
            <tr class="data-row">
                <td class="column name">
                    <p class="text-left"> {{data.witness2name}}</p>
                </td>
                <td class="column address">
                    <p class="text-left">{{data.witness2address}}</p>
                </td>
                <td class="column sign">
                    <p class="text-left"></p>
                </td>
                <td class="column photo">
                    <p class="text-left"></p>
                </td>
            </tr>
        </table>

        <p style="text-indent: 0pt; text-align: left"><br /></p>
        <p style="padding-left: 262pt; text-indent: 0pt; text-align: left">
            {{data.customerName}}
        </p>
        <p style="text-indent: 0pt; text-align: left"><br /></p>
        <p style="
        padding-left: 193pt;
        text-indent: 0pt;
        line-height: 1pt;
        text-align: left;
      " />
        <p style="
        padding-top: 13pt;
        padding-left: 284pt;
        text-indent: 0pt;
        text-align: left;
      ">
            Signature.
        </p>
    </div>
    <button class="btn btn-store" ng-click="printDiv('printForm')">Print</button>
</body>
<script>
      angular.module('Stock-CMS', [])
    .filter('dateWithSuffix', function() {
      return function(input) {
        var day = new Date(input);
        var dayOfMonth = day.getDay();
        var suffix = 'th';

        if (dayOfMonth === 1 || dayOfMonth === 21 || dayOfMonth === 31) {
          suffix = 'st';
        } else if (dayOfMonth === 2 || dayOfMonth === 22) {
          suffix = 'nd';
        } else if (dayOfMonth === 3 || dayOfMonth === 23) {
          suffix = 'rd';
        }

        return dayOfMonth + suffix + ' ' + day.toLocaleString('en', { month: 'long' }) + ' ' + day.getFullYear();
      };
    }).controller('FormController', function ($scope, $http,$timeout) {
        $scope.customers = [];
         $scope.hDiv = true;
            var params = new URLSearchParams(window.location.search);
            var id = params.get('id');
            var id2 = params.get('id2');
        var isProcessing = false;

        // showLoader();


        // Load Customers
        $scope.loadCustomers = function (sid, hid) {

             if(id){
                 hideLoader();
                 $scope.hDiv = true;
                 $http.get('/Form/GetHolderByStockId/' + id).then(function (response) {
                    $scope.doc = response.data;
                    var docs = $scope.doc.find(x => x.id === sid);
                    $scope.witnesslist = JSON.parse(docs.witnessJson);
                $http.get('/LegalHeir/GetLegalHeir/' + docs.id).then(function (response) {
                        $scope.heirlist = response.data;
                    $http.get('/LegalHeir/GetClaimentLegalHeir/' + docs.id).then(function (response) {
                    $scope.heirs = response.data;
                    var heir = response.data.find(x => x.id === hid);
                    var arr = angular.copy($scope.heirlist);
                $scope.data = {
                    docid: heir.id,
                       customerName : heir.name,
                   age :  $scope.calculateAge(heir.dob,heir.dateOfDeath),
                   sonof: docs.name,
                   occupation: '',
                   dateofdeath: docs.dateOfDeath,
                   address : heir.addressAsPerAadhar,
                   heirlist: JSON.stringify(arr, null, 2),
                   place:'Vadodara',
                   today: new Date(),
                   witness1name:'',
                   witness1address: '',
                   witness2name:'',
                   witness2address: '',
                };

                hideLoader();
                }, function (error) {
                    console.error('Error loading Legal Heair:', error);
                    hideLoader();
                });
                }, function (error) {
                    console.error('Error loading Docs:', error);
                    hideLoader();
                });
            }, function (error) {
                console.error('Error loading customers:', error);
                hideLoader();
            });
            }

            if(id2){
                 $scope.hDiv = false;
            $http.get('/Form/GetGenratedFormById/'+id2).then(function (response) {
                var result = response.data;
                var obj = JSON.parse(result.jsonString);
                $scope.data = {
                    docid: obj.docid,
                  customerName : obj.customerName,
                  age: obj.age,
                  sonof: obj.sonof,
                  occupation: obj.occupation,
                  dateofdeath: new Date(obj.dateofdeath),
                  address: obj.address,
                  heirlist: JSON.parse(obj.heirlist),
                  place: obj.place,
                  today: new Date(obj.today),
                  witness1name: obj.witness1name,
                  witness1address: obj.witness1address,
                  witness2name:obj.witness2name,
                  witness2address: obj.witness2address,
                };
                $scope.heirlist =  $scope.data.heirlist
                id = result.stockId;
               checkData();
                hideLoader();


            }, function (error) {
                console.error('Error loading customers:', error);
                hideLoader();
            });
            }
        };

    function checkData() {
        if ($scope.data !== undefined) {

            $timeout(function() {
                $scope.printDiv('printForm');
            }, 0);
        } else {
            setTimeout(checkData, 1000);
        }
    }

    $scope.calculateAge = function(dob, deathDate) {
        if (!dob) {
            return '';
        }

        var birthDate = new Date(dob);
        var currentDate = new Date();
        var age = currentDate.getFullYear() - birthDate.getFullYear();
        var m = currentDate.getMonth() - birthDate.getMonth();

        if (m < 0 || (m === 0 && currentDate.getDate() < birthDate.getDate())) {
            age--;
        }

        // If deathDate is provided, calculate age at the time of death
        if (deathDate) {
            var deathDateObj = new Date(deathDate);
            age = deathDateObj.getFullYear() - birthDate.getFullYear();
            var mDeath = deathDateObj.getMonth() - birthDate.getMonth();

            if (mDeath < 0 || (mDeath === 0 && deathDateObj.getDate() < birthDate.getDate())) {
                age--;
            }
            return age;
            // return age + ' (deceased)';
        }

        return age;
    };

        //Genrate Form
         $scope.genrateForm = function () {
             if(id){
             let jsonString = JSON.stringify($scope.data, null, 2);
             var data ={
                 formName : 'AFFIDAVIT Pedigree Legal Hier Certi',
                 StockId : id,
                 url : `/Form/AFFIDAVITPedigreeLegalHierCerti?id2=`,
                 jsonString : jsonString,
                 IsActive : true,
                 ClientName: $scope.data.customerName,
                  ClientId: $scope.data.docid,
             }

             const url = '/Form/GenrateForm';
                $http.post(url, data).then(function (response) {
                    if (response.data.success) {
                        Swal.fire({
                            title: 'Success',
                            text: response.data.message || 'Operation successful!',
                            icon: 'success',
                            confirmButtonText: 'OK'
                        });
                        // $scope.loadCustomers();
                        window.open(response.data.data.url + response.data.data.id,'_self')
                    } else {
                       Swal.fire({
                         title: 'This Form is already Exits',
                         text: "do you want to go to that form?",
                         icon: 'warning',
                         showCancelButton: true,
                         confirmButtonText: 'Yes',
                         cancelButtonText: 'No'
                     }).then((result) => {
                         if (result.isConfirmed) {
                             window.open(response.data.message, '_self');
                         }
                 });

                    }
                    isProcessing = false;
                }, function (error) {
                    Swal.fire({
                        title: 'Error',
                        text: 'An error occurred.',
                        icon: 'error',
                        confirmButtonText: 'OK'
                    });
                    isProcessing = false;
                });
            //console.log(dataString);
            }
         }

         
          $scope.fwitnessselect = function (fid,sid) {
               // var find1 = $scope.holderlist .find(x => x.id === fid);
             
              var result =  (fid == sid)
               if(result)
             {  
                $scope.data.fwitness = undefined;
                    Swal.fire({
        title: 'Error!',
        text: 'Same person can not be selected for multiple Witnesses.',
        icon: 'error',
        confirmButtonText: 'Try Again'
    });
                $scope.data.witness1name = '';
                $scope.data.witness1address = '';
               }
               else{
                   var witness1 = $scope.witnesslist.find(y => y.witnessname == fid);
                   $scope.data.witness1name = witness1.witnessname;
                   $scope.data.witness1address = witness1.witnessaddress;
               }
            }

             $scope.switnessselect = function (fid,sid) {
               // var find1 = $scope.holderlist .find(x => x.id === fid);

              var result =  (fid == sid)
               if(result)
             {
                $scope.data.switness = undefined ;
                    Swal.fire({
        title: 'Error!',
        text: 'Same person can not be selected for multiple Witnesses.',
        icon: 'error',
        confirmButtonText: 'Try Again'
    });
                $scope.data.witness2name = '';
                $scope.data.witness2address = '';
               }
               else{
                   var witness2 = $scope.witnesslist.find(y => y.witnessname == sid);
                   $scope.data.witness2name = witness2.witnessname;
                   $scope.data.witness2address = witness2.witnessaddress;
               }
            }
            
            

    $scope.navtogenerateform = function () {
        window.open('/Form/GenerateForm/'+id, '_self');
    };

        // Load Customers
        // $scope.loadCustomers = function () {
        //     $http.get('/Master/GetCustomers').then(function (response) {
        //         $scope.customers = response.data[0];
        //         hideLoader();
        //     }, function (error) {
        //         console.error('Error loading customers:', error);
        //         hideLoader();
        //     });
        // };

        // $scope.loadDocs = function () {
        //     if (true) {
        //         $http.get('/doc/getDocs/' + 1).then(function (response) {
        //             $scope.docs = response.data;
        //             hideLoader();
        //         }, function (error) {
        //             console.error('Error loading Docs:', error);
        //             hideLoader();
        //         });
        //     }
        // };

        //Function
        $scope.printDiv = function (divId) {
            var css = '<style type="text/css">*{margin:0;padding:0;text-indent:0;}.p,p{color:black;font-family:"Times New Roman",serif;font-style:normal;font-weight:normal;text-decoration:none;font-size:14pt;margin:0pt;}.s2{color:black;font-family:Calibri,sans-serif;font-style:normal;font-weight:normal;text-decoration:none;font-size:12pt;}.s3{color:black;font-family:Arial,sans-serif;font-style:normal;font-weight:normal;text-decoration:none;font-size:12pt;}.s4{color:black;font-family:Arial,sans-serif;font-style:normal;font-weight:normal;text-decoration:none;font-size:8pt;vertical-align:4pt;}.s5{color:black;font-family:"Times New Roman",serif;font-style:normal;font-weight:normal;text-decoration:none;font-size:14pt;}li{display:block;}#l1{padding-left:0pt;counter-reset:c1 1;}#l1>li>*:first-child:before{counter-increment:c1;content:counter(c1,decimal)". ";color:black;font-family:"Times New Roman",serif;font-style:normal;font-weight:normal;text-decoration:none;font-size:14pt;}#l1>li:first-child>*:first-child:before{counter-increment:c1 0;}table,tbody{vertical-align:top;overflow:visible;}.styled-table{border-collapse:collapse;margin-left:27.5pt;}.column{border:1pt solid black;padding:8pt;text-align:left;}.name{width:95pt;}.age{width:68pt;}.relationship{width:81pt;text-align:center;}.status{width:74pt;}.photo{width:85pt;}.text{margin:0;padding:0;}.text-left{padding-left:23pt;text-indent:-2pt;}.text-center{text-align:center;padding-left:3pt;}.text-indent{text-indent:10pt;}</style>';
            var innerContents = document.getElementById(divId).innerHTML;
            var popupWinindow = window.open('', '_blank', 'width=600,height=700,scrollbars=no,menubar=no,toolbar=no,location=no,status=no,titlebar=no');
            popupWinindow.document.open();
            popupWinindow.document.write('<html><head><link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">' + css + '</ head > <body style="padding-left: 0 8% 0 8%;"onload="window.print()">' + innerContents + '</html>');
            popupWinindow.document.close();
        };
        //Initialize
        $scope.loadCustomers();
        // $scope.loadDocs();
    });
</script>
</html>
