<html lang="en" ng-app="Stock-CMS">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Affidavit for Change of Address</title>
    <style type="text/css">
        * {
            margin: 0;
            padding: 0;
            text-indent: 0;
        }

        .p,
        p {
            color: black;
            font-family: Calibri, sans-serif;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            font-size: 12pt;
            margin: 0pt;
        }

        .s1 {
            color: black;
            font-family: Calibri, sans-serif;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            font-size: 8pt;
            vertical-align: 4pt;
        }

        .s2 {
            color: black;
            font-family: Calibri, sans-serif;
            font-style: normal;
            font-weight: bold;
            text-decoration: none;
            font-size: 12pt;
        }

        h1 {
            color: black;
            font-family: Calibri, sans-serif;
            font-style: normal;
            font-weight: bold;
            text-decoration: underline;
            font-size: 12pt;
        }

        .s4 {
            color: black;
            font-family: "Times New Roman", serif;
            font-style: normal;
            font-weight: normal;
            text-decoration: underline;
            font-size: 12pt;
        }

        .s5 {
            color: black;
            font-family: "Times New Roman", serif;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            font-size: 12pt;
        }

        li {
            display: block;
        }

        #l1 {
            padding-left: 0pt;
            counter-reset: c1 1;
        }

            #l1 > li > *:first-child:before {
                counter-increment: c1;
                content: counter(c1, decimal) ". ";
                color: black;
                font-family: Calibri, sans-serif;
                font-style: normal;
                font-weight: normal;
                text-decoration: none;
                font-size: 12pt;
            }

            #l1 > li:first-child > *:first-child:before {
                counter-increment: c1 0;
            }
    </style>
</head>
<body style="padding-left: 10%;" ng-controller="FormController">
    <div ng-if="hDiv">
        <form name="gForm" ng-submit="genrateForm()">
            <div class="row">
                @* <div class="col-md-4"> *@
                <div class="form-group mb-3">
                    <label for="seletedid" class="form-label">select customer</label>
                    <select class="form-select w-auto" ng-options="f.id as f.name for f in docs" ng-model="seletedid" ng-change="loadCustomers(seletedid)">
                        <option selected disabled value="">Select customer</option>
                    </select>
                </div>
                <div class="form-group mb-3 col-md-3">
                    <label for="newaddress" class="form-label"> New Address </label>
                    <textarea id="newaddress" ng-model="data.newaddress" class="form-control" placeholder="New Address"></textarea>
                </div>
                <div class="form-group mb-3 col-md-3">
                    <label for="state" class="form-label">State</label>
                    <input type="text" ng-model="data.state" class="form-control search-orders" placeholder="State">
                </div>
                <div class="form-group mb-3 col-md-3">
                    <label for="place" class="form-label">Place</label>
                    <input type="text" ng-model="data.place" class="form-control search-orders" placeholder="Place of Form Submition">
                </div>
                <div class="form-group mb-3 col-md-3">
                    <label for="verificationplace" class="form-label">Place of Verification</label>
                    <input type="text" ng-model="data.verificationplace" class="form-control search-orders" placeholder="Place of Verification">
                </div>
                <div class="form-group mb-3 col-md-3">
                    <label for="verificationdate" class="form-label">Date of Verification</label>
                    <input type="date" ng-model="data.verificationdate" class="form-control search-orders" placeholder="Date of Verification">
                </div>
                <div class="form-group mb-3 col-md-3">
                    <label for="varificationbeforeplace" class="form-label">Place of Verification Before</label>
                    <input type="text" ng-model="data.varificationbeforeplace" class="form-control search-orders" placeholder="Place of Verification Before">
                </div>
                <div class="form-group mb-3 col-md-3">
                    <label for="varificationbeforedate" class="form-label">Date of Verification Before</label>
                    <input type="date" ng-model="data.varificationbeforedate" class="form-control search-orders" placeholder="Date of Verification Before">
                </div>
                <div class="form-group mb-3 col-md-3">
                    <label for="registrationNo" class="form-label"> Registration No </label>
                    <input type="text" ng-model="data.registrationNo" class="form-control search-orders" placeholder="Registration No">
                </div>
                @* </div> *@
                <div class="text-center m-2 col-md-4">
                    <button type="submit" class="btn" style="background-color:#003980; color:white;">
                        Genrate Form
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div id="printForm">
    <p style="
        padding-top: 1pt;
        padding-left: 77pt;
        text-indent: 0pt;
        text-align: center;
      ">
        To be executed on Non-Judicial Stamp Paper and attested from 1<span class="s1">st</span>
        Class Magistrate/Notary Public
    </p>
    <p style="text-indent: 0pt; text-align: left"><br /></p>
    <p class="s2"
       style="padding-left: 77pt; text-indent: 0pt; text-align: center">
        AFFIDAVIT FOR CHANGE OF ADDRESS
    </p>
    <p style="text-indent: 0pt; text-align: left"><br /></p>
    <p style="
        padding-left: 5pt;
        text-indent: 0pt;
        line-height: 108%;
        text-align: justify;
      ">
            I, Mr./Mrs/Miss <u><b>{{data.customerName}} </b></u>Son of /
        Daughter of Mr. <u><b>{{data.sonof}},</b></u><b> </b> residing at present residing at (Address with pin code, Dist.,
        State) <u>{{ANANDANVAN}}</u>
            <u>{{data.address}}</u>
    </p>
    <p style="
        padding-top: 7pt;
        padding-left: 5pt;
        text-indent: 0pt;
        text-align: left;
      ">
        do hereby solemnly declare and affirm as follows:
    </p>
    <ol id="l1">
        <li data-list-text="1.">
            <p style="
            padding-top: 9pt;
            padding-left: 41pt;
            text-indent: -18pt;
            text-align: left;
          ">
                That my PAN Number is <u><b>{{data.pan}}</b></u>
            </p>
        </li>
        <li data-list-text="2.">
            <p style="
            padding-top: 1pt;
            padding-left: 41pt;
            text-indent: -18pt;
            line-height: 108%;
            text-align: justify;
          ">
                That I was previously residing at
                    <u>{{data.address}}</u>
                (Old Address with pin code,
                Dist., State).
            </p>
        </li>
        <li data-list-text="3.">
            <p style="
            padding-left: 41pt;
            text-indent: -18pt;
            line-height: 108%;
            text-align: justify;
          ">
                That Now I have shifted to <u>{{data.state}}</u> (Current State) and residing
                @* at <u><b>{{1/A}}</b></u><b> </b> *@
                <u>
                    <b>
                       {{data.newaddress}}
                    </b>
                </u>
            </p>
            <p class="s2"
               style="
            padding-left: 41pt;
            text-indent: 0pt;
            line-height: 15pt;
            text-align: justify;
          ">
                @* <u>{{390020}}</u> *@
                <span class="p">(Current Address with pin code, P.S, Dist., State).</span>
            </p>
        </li>
        <li data-list-text="4.">
            <p style="
            padding-top: 1pt;
            padding-left: 41pt;
            text-indent: -18pt;
            text-align: left;
          ">
                That I am swearing this Affidavit to proof my present residential
                address which is
            </p>
            <h1 style="
            padding-top: 1pt;
            padding-left: 41pt;
            text-indent: 0pt;
            text-align: justify;
          ">
                    {{data.newaddress}}
            </h1>
            <p class="s2"
               style="
            padding-top: 1pt;
            padding-left: 41pt;
            text-indent: 0pt;
            text-align: justify;
          ">
                @* <u>{{390020}}</u> *@
                <span class="p">(Current Address with pin code, P.S, Dist., State).</span>
            </p>
        </li>
        <li data-list-text="5.">
            <p style="
            padding-top: 1pt;
            padding-left: 41pt;
            text-indent: -18pt;
            line-height: 108%;
            text-align: justify;
          ">
                That I Shall be liable for any consequences in case of any loss to
                    @* Trident Limited  *@
                    {{data.officename}}due to this declaration and I hereby unconditionally
                and irrevocably submit to the exclusive jurisdiction of the Competent
                Court / forum in Barnala, Punjab with regard to any question to or
                matter arising out of these presents and/or any other document that
                may be executed by me/us in pursuance hereby or arising here from.
            </p>
        </li>
    </ol>
    <p style="
        padding-top: 7pt;
        padding-left: 5pt;
        text-indent: 0pt;
        line-height: 108%;
        text-align: left;
      ">
        This declaration is hereby executed and submitted to TRIDENT LIMITED to
        accomplish the change of address.
    </p>
    <p style="
        padding-top: 7pt;
        padding-left: 5pt;
        text-indent: 0pt;
        line-height: 163%;
        text-align: left;
      ">
        I hereby state that whatever is stated hereinabove is true to the best of
        my knowledge. Solemnly affirmed at <u>{{data.place}}</u> on this
        <span class="s4">{{data.day}}</span>day of
            <span class="s4">{{data.month}} </span><span class="s4">{{data.year}}</span>
    </p>
    <p style="padding-top: 9pt; text-indent: 0pt; text-align: left"><br /></p>
    <p style="text-indent: 0pt; text-align: right">(Deponent)</p>
    <p style="
        padding-top: 9pt;
        padding-left: 5pt;
        text-indent: 0pt;
        text-align: left;
      ">
        VERIFICATION
    </p>
    <p style="
        padding-top: 9pt;
        padding-left: 5pt;
        text-indent: 0pt;
        line-height: 108%;
        text-align: left;
      ">
        Verified on this day
        <span class="s4">
            @* &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  *@
                {{data.verificationdate | date: 'dd-MM-yyyy'}}
            </span>at
        <span class="s4">
            @* &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  *@
                {{data.verificationplace}}
            </span>that the contents of the affidavit are true and correct, nothing material
        has been concealed and no part of it is false.
    </p>
    <p style="text-indent: 0pt; text-align: left"><br /></p>
    <p style="text-indent: 0pt; text-align: right">(Deponent)</p>
    <p style="
        padding-top: 9pt;
        padding-left: 5pt;
        text-indent: 0pt;
        text-align: left;
      ">
        Signed before me on this day
        <span class="s4">
            @* &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  *@
                {{data.varificationbeforedate | date:'dd-MM-yyyy'}}
            </span>at
        <span class="s4">
            @* &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; *@
                {{data.varificationbeforeplace}}
            </span>
    </p>
    <p style="text-indent: 0pt; text-align: left"><br /></p>
    <p style="
        padding-left: 149pt;
        text-indent: 108pt;
        line-height: 163%;
        text-align: left;
      ">
        X<span class="s4">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span><span class="s5"> </span>Signature of Notary with Official Seal of Notary
            &amp; Regn. No. {{data.registrationNo}}
    </p>
    </div>
    <button class="btn btn-store" ng-click="printDiv('printForm')">Print</button>
</body>
<script>
    angular.module('Stock-CMS', []).controller('FormController', function ($scope, $http) {
        $scope.customers = [];
        $scope.data = undefined;
            $scope.hDiv = true;
            var params = new URLSearchParams(window.location.search);
            var id = params.get('id');
            var id2 = params.get('id2');
        var isProcessing = false;

        // showLoader();

                // Load Customers
         $scope.loadCustomers = function (sid) {

             if(id){
                 var currentDate = new Date();
                var monthsOfYear = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
                 $scope.hDiv = true;
                $http.get('/Enquiry/GetStocksById/'+id).then(function (response) {
                var result = response.data;
                $http.get('/doc/getDocs/' +  result.customer.id).then(function (response) {
                     $scope.docs = response.data;
                    var doc = response.data[sid - 1];
                    $scope.data = {
                       customerName : doc.name,
                       pan: doc.pan,
                       sonof: 'fathersname',
                       address : doc.addressAsPerAadhar,
                       state: '',
                       newaddress:'',
                       officename : result.companyName,
                       place:'',
                       day: currentDate.getDate(),
                       month: monthsOfYear[currentDate.getMonth()],
                       year: currentDate.getFullYear(),
                       registrationNo:'',
                       verificationdate:'',
                       verificationplace:'',
                       varificationbeforedate:'',
                       varificationbeforeplace:'',
                    };

                    hideLoader();
                 }, function (error) {
                    console.error('Error loading Docs:', error);
                    hideLoader();
                });
            }, function (error) {
                console.error('Error loading customers:', error);
                hideLoader();
            });
            }

            if(id2){
                 $scope.hDiv = false;
            $http.get('/Form/GetGenratedFormById/'+id2).then(function (response) {
                var result = response.data;
                var obj = JSON.parse(result.jsonString);
                $scope.data = {
                    customerName: obj.customerName,
                    pan: obj.pan,
                    sonof:obj.sonof,
                    address:obj.address,
                    state: obj.state,
                    newaddress: obj.newaddress,
                    officename: obj.officename,
                    place: obj.place,
                    day:obj.day,
                    month:obj.month,
                    year: obj.year,
                    registrationNo: obj.registrationNo,
                    verificationdate: new Date(obj.verificationdate),
                    verificationplace: obj.verificationplace,
                    varificationbeforedate: new Date(obj.varificationbeforedate),
                    varificationbeforeplace: obj.varificationbeforeplace,
                };
                hideLoader();
            }, function (error) {
                console.error('Error loading customers:', error);
                hideLoader();
            });
            }
        };

        //Genrate Form
         $scope.genrateForm = function () {
             if(id){
             let jsonString = JSON.stringify($scope.data, null, 2);
             var data ={
                 formName : 'AFFIDAVIT CHANGE OF ADDRESS',
                 StockId : id,
                 url : `/Form/AFFIDAVITChangeOfAddress?id2=`,
                 jsonString : jsonString,
                 IsActive : true
             }

             const url = '/Form/GenrateForm';
                $http.post(url, data).then(function (response) {
                    if (response.data.success) {
                        Swal.fire({
                            title: 'Success',
                            text: response.data.message || 'Operation successful!',
                            icon: 'success',
                            confirmButtonText: 'OK'
                        });
                        $scope.loadCustomers(null);
                    } else {
                        Swal.fire({
                            title: 'Error!',
                            text: response.data.message || 'There was an issue adding the customer.',
                            icon: 'error',
                            confirmButtonText: 'Try Again'
                        });
                    }
                    isProcessing = false;
                }, function (error) {
                    Swal.fire({
                        title: 'Error',
                        text: 'An error occurred.',
                        icon: 'error',
                        confirmButtonText: 'OK'
                    });
                    isProcessing = false;
                });
            //console.log(dataString);
            }
         }

        // Load Customers
        // $scope.loadCustomers = function () {
        //     $http.get('/Master/GetCustomers').then(function (response) {
        //         $scope.customers = response.data[0];
        //         hideLoader();
        //     }, function (error) {
        //         console.error('Error loading customers:', error);
        //         hideLoader();
        //     });
        // };

        // $scope.loadDocs = function () {
        //     if (true) {
        //         $http.get('/doc/getDocs/' + 1).then(function (response) {
        //             $scope.docs = response.data;
        //             hideLoader();
        //         }, function (error) {
        //             console.error('Error loading Docs:', error);
        //             hideLoader();
        //         });
        //     }
        // };

        //Function
        $scope.printDiv = function (divId) {
            var innerContents = document.getElementById(divId).innerHTML;
            var popupWinindow = window.open('', '_blank', 'width=600,height=700,scrollbars=no,menubar=no,toolbar=no,location=no,status=no,titlebar=no');
            popupWinindow.document.open();
            popupWinindow.document.write('<html><head><link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"><style type="text/css">*{margin:0;padding:0;text-indent:0;} .p,p{color:black;font-family:Calibri,sans-serif;font-style:normal;font-weight:normal;text-decoration:none;font-size:12pt;margin:0;} .s1{color:black;font-family:Calibri,sans-serif;font-style:normal;font-weight:normal;text-decoration:none;font-size:8pt;vertical-align:4pt;} .s2{color:black;font-family:Calibri,sans-serif;font-style:normal;font-weight:bold;text-decoration:none;font-size:12pt;} h1{color:black;font-family:Calibri,sans-serif;font-style:normal;font-weight:bold;text-decoration:underline;font-size:12pt;} .s4{color:black;font-family:"Times New Roman",serif;font-style:normal;font-weight:normal;text-decoration:underline;font-size:12pt;} .s5{color:black;font-family:"Times New Roman",serif;font-style:normal;font-weight:normal;text-decoration:none;font-size:12pt;} li{display:block;} #l1{padding-left:0pt;counter-reset:c1 1;} #l1>li>*:first-child:before{counter-increment:c1;content:counter(c1,decimal)". ";color:black;font-family:Calibri,sans-serif;font-style:normal;font-weight:normal;text-decoration:none;font-size:12pt;} #l1>li:first-child>*:first-child:before{counter-increment:c1 0;}</style></head > <body onload="window.print()">' + innerContents + '</html>');
            popupWinindow.document.close();
        };
        //Initialize
        $scope.loadCustomers(null);
        // $scope.loadDocs();
    });
</script>
</html>
