<html lang="en" ng-app="Stock-CMS">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Affidavit-Change in SS TSR</title>
    <style type="text/css">
      * {
        margin: 0;
        padding: 0;
        text-indent: 0;
      }
      .s1 {
        color: black;
        font-family: "Times New Roman", serif;
        font-style: normal;
        font-weight: bold;
        text-decoration: underline;
        font-size: 12pt;
      }
      h1 {
        color: black;
        font-family: "Times New Roman", serif;
        font-style: normal;
        font-weight: bold;
        text-decoration: none;
        font-size: 12pt;
      }
      .s2 {
        color: black;
        font-family: "Times New Roman", serif;
        font-style: normal;
        font-weight: bold;
        text-decoration: underline;
        font-size: 11pt;
      }
      h2 {
        color: black;
        font-family: "Times New Roman", serif;
        font-style: normal;
        font-weight: bold;
        text-decoration: none;
        font-size: 11pt;
      }
      .p,
      p {
        color: black;
        font-family: "Times New Roman", serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 12pt;
        margin: 0pt;
      }
      .s4 {
        color: black;
        font-family: "Times New Roman", serif;
        font-style: normal;
        font-weight: bold;
        text-decoration: underline;
        font-size: 10pt;
      }
      .h3 {
        color: black;
        font-family: "Times New Roman", serif;
        font-style: normal;
        font-weight: bold;
        text-decoration: none;
        font-size: 10pt;
      }
      .s5 {
        color: black;
        font-family: "Times New Roman", serif;
        font-style: normal;
        font-weight: bold;
        text-decoration: none;
        font-size: 10pt;
      }
      .s6 {
        color: black;
        font-family: Arial, sans-serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 10pt;
      }
      .s7 {
        color: black;
        font-family: "Times New Roman", serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 10pt;
      }
      .s8 {
        color: black;
        font-family: "Times New Roman", serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 12pt;
      }
      .s9 {
        color: black;
        font-family: "Times New Roman", serif;
        font-style: normal;
        font-weight: bold;
        text-decoration: none;
        font-size: 12pt;
      }
      .s10 {
        color: black;
        font-family: "Times New Roman", serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 12pt;
      }
      .s11 {
        color: black;
        font-family: "Times New Roman", serif;
        font-style: italic;
        font-weight: normal;
        text-decoration: none;
        font-size: 12pt;
      }
      .s13 {
        color: black;
        font-family: "Times New Roman", serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 10pt;
      }
      .s14 {
        color: black;
        font-family: "Times New Roman", serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: underline;
        font-size: 10pt;
      }
      .s15 {
        color: black;
        font-family: "Times New Roman", serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 11pt;
      }
      li {
        display: block;
      }
      #l1 {
        padding-left: 0pt;
        counter-reset: c1 1;
      }
      #l1 > li > *:first-child:before {
        counter-increment: c1;
        content: counter(c1, lower-roman) ". ";
        color: black;
        font-family: "Times New Roman", serif;
        font-style: normal;
        font-weight: bold;
        text-decoration: none;
        font-size: 11pt;
      }
      #l1 > li:first-child > *:first-child:before {
        counter-increment: c1 0;
      }
      li {
        display: block;
      }
      #l2 {
        padding-left: 0pt;
        counter-reset: d1 1;
      }
      #l2 > li > *:first-child:before {
        counter-increment: d1;
        content: counter(d1, lower-roman) ". ";
        color: black;
        font-family: "Times New Roman", serif;
        font-style: normal;
        font-weight: bold;
        text-decoration: none;
        font-size: 11pt;
      }
      #l2 > li:first-child > *:first-child:before {
        counter-increment: d1 0;
      }
      li {
        display: block;
      }
      #l3 {
        padding-left: 0pt;
        counter-reset: e1 1;
      }
      #l3 > li > *:first-child:before {
        counter-increment: e1;
        content: counter(e1, decimal) ". ";
        color: black;
        font-family: "Times New Roman", serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 12pt;
      }
      #l3 > li:first-child > *:first-child:before {
        counter-increment: e1 0;
      }
      table,
      tbody {
        vertical-align: top;
        overflow: visible;
      }

        .card {
            border-radius: 10px;
            overflow: hidden;
        }

        .form-group {
            margin-bottom: 1.5rem;
        }

        .form-label {
            font-size: 1.1rem;
            font-weight: 600;
        }

        .form-select {
            width: 100%;
            padding: 0.75rem;
            border-radius: 5px;
            border: 1px solid #ddd;
            font-size: 1rem;
        }

        .btn-primary {
            width: 100%;
            padding: 12px 16px;
            text-transform: uppercase;
            font-weight: bold;
            transition: background-color 0.3s ease, transform 0.2s ease;
        }

            .btn-primary:hover {
                background-color: #0056b3;
                transform: scale(1.05);
            }

        .mybtn {
            background-color: #51b37f !important;
            color: white !important;
            width: auto !important;
        }

        .myarea {
            justify-content: center !important;
            display: flex !important;
            margin-top: 25px !important;
        }
    </style>
  </head>
<body style="padding: 5%;" ng-controller="FormController">
    <div class="row align-items-center">
        <!-- Arrow Icon aligned to the left -->
        <a class="col-md-1 text-start" style="font-size:35px;" ng-click="navtogenerateform()">
            <i class="bi bi-arrow-left"></i>
        </a>

        <!-- Centered Heading -->
        <div class="col-md-10 text-center">
            <h3>Affidavit-Change in SS TSR</h3>
        </div>
    </div>

    <div ng-if="hDiv" class="container my-5">
        <div class="card shadow-sm">
            <div class="card-body">
                <form name="gForm" ng-submit="genrateForm()">
                    <h4 class="card-title text-center mb-4" style="color:#51b37f;">Generate Form</h4>

                    <div class="row">
                        <!-- Select Customer Dropdown -->
                        <div class="col-md-4 mb-3">
                            <div class="form-group">
                                <label for="seletedId" class="form-label">Select Customer</label>
                                <select class="form-select" id="seletedId" ng-options="f.id as f.name for f in doc" ng-model="seletedId" ng-change="loadCustomers(seletedId,heirId)">
                                    <option selected disabled value="">Select customer</option>
                                </select>
                            </div>
                        </div>

                        <!-- Select Heir Dropdown -->
                        <div class="col-md-4 mb-3" ng-show="legalheirlist">
                            <div class="form-group">
                                <label for="heirId" class="form-label">Select Heir</label>
                                <select class="form-select" id="heirId" ng-options="g.id as g.name for g in heir" ng-model="heirId" ng-change="loadCustomers(seletedId, heirId)">
                                    <option selected disabled value="">Select Heir</option>
                                </select>
                            </div>
                        </div>

                        <!-- Place of Form Submission -->
                        <div class="col-md-4 mb-3">
                            <div class="form-group">
                                <label for="place" class="form-label">Place of Form Submission</label>
                                <input type="text" ng-model="data.place" class="form-control" placeholder="Place of Form Submission">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- Letter Date 
                        <div class="col-md-4 mb-3">
                            <div class="form-group">
                                <label for="letterdate" class="form-label">Letter Date</label>
                                <input type="date" ng-model="data.letterdate" class="form-control" placeholder="Letter Date">
                            </div>
                        </div>-->
                    
                        <!-- Letter No 
                        <div class="col-md-4 mb-3">
                            <div class="form-group">
                                <label for="letterno" class="form-label">Letter No</label>
                                <input type="text" ng-model="data.letterno" class="form-control" placeholder="Letter No">
                            </div>
                        </div>-->
                    </div>

                    <!-- Submit Button -->
                    <div class="col-md-4 text-center m-2">
                        <button type="submit" ng-disabled="processdone" class="btn btn-primary" style="background-color:#51b37f; color:white; border-radius: 5px;">
                            Generate Form
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="printForm">
    <h1
      style="
        padding-top: 3pt;
        padding-left: 14pt;
        text-indent: 0pt;
        text-align: left;
      "
    >
      <u
        >Affidavit (For Change of Signature / Non-availability of
        signature/Inability to sign due to</u
      >
      <u
        >old age and health problems/ Difference in Name) for cases where the
        shares have been</u
      >
    </h1>

    <h1 style="padding-left: 14pt; text-indent: 0pt; text-align: left">
      <u
        >transferred to IEPF Demat Account.Kindly read the instructions enlisted
        below carefully</u
      >
      <u>before executing this Affidavit</u>
    </h1>
    <p
      class="s2"
      style="
        padding-top: 11pt;
        padding-left: 15pt;
        text-indent: 0pt;
        text-align: left;
      "
    >
      Important Instructions for filling the Affidavit
    </p>
    <p style="text-indent: 0pt; text-align: left"><br /></p>
    <ol id="l1" style="border: 1px solid black; padding: 5px;">
      <li data-list-text="i.">
        <h2 style="padding-left: 52pt; text-indent: -16pt; text-align: justify">
          Before signing, kindly get the Affidavit franked with an amount of
          Rs.100/- or affix Special Adhesive Stamps of Rs.100/- or reproduce the
          text on Non-Judicial Stamp Paper of Rs.100/-.
        </h2>
        <p style="text-indent: 0pt; text-align: left"><br /></p>
      </li>
      <li data-list-text="ii.">
        <h2 style="padding-left: 52pt; text-indent: -18pt; text-align: justify">
          The Non-Judicial Stamp Paper must be purchased in the name of the
          account holder. The date of execution of Affidavit should be within
          six months from the date of purchase.
        </h2>
      </li>
      <li data-list-text="iii.">
        <h2
          style="
            padding-top: 12pt;
            padding-left: 52pt;
            text-indent: -25pt;
            text-align: justify;
          "
        >
          In case, the address of the accoun tholder is different from that
          recorded with the Company, kindly submit proof of old i.e. address as
          recorded with the Company and new address as mentioned under Point No.
          2. If you wish to record your new address against the below folio,
          please forward to us <u>a separate request letter</u>, duly signed by
          the account holders, as per their signatures on this Affidavit.
        </h2>
      </li>
      <li data-list-text="iv.">
        <h2
          style="
            padding-top: 12pt;
            padding-left: 52pt;
            text-indent: -20pt;
            text-align: justify;
          "
        >
          In case there is a difference in signature due to old age and health
          problems, kindly fill the details as mentioned under Point No. 6. In
          such cases, kindly submit the original medical certificate issued by a
          registered medical practitioner (registration number of the medical
          practitioner should be mentioned on the original medical certificate)
          giving the reasons for such inability.
        </h2>
      </li>
      <li data-list-text="v.">
        <h2 style="padding-left: 52pt; text-indent: -16pt; text-align: justify">
          In case there is a minor difference in the names of the account
          holders on the supporting documents with the one recorded with the
          Company, kindly fill the details mentioned under Point No. 8. In case
          of major difference in the names of the accoun tholders, kindly
          furnish copy of Government Gazette Notification, duly attested by a
          Notary Public / First Class Magistrate.In case of name change on
          account of marriage, kindly submit a copy of Marriage Certificate
          issued by Registrar of Marriages, duly attested by a Notary Public /
          First Class Magistrate.
        </h2>
      </li>
      <li data-list-text="vi.">
        <h2
          style="
            padding-top: 12pt;
            padding-left: 52pt;
            text-indent: -20pt;
            text-align: justify;
          "
        >
          Kindly enclose a request letter for re-issue of unclaimed dividends
          which have not been transferred to IEPF Authority.
        </h2>
      </li>
    </ol>
    <p
    class="s2"
    style="
      padding-top: 11pt;
      padding-left: 15pt;
      text-indent: 0pt;
      text-align: left;
    "
  >
    Important Instructions for attesting the Affidavit
  </p>
    <p style="text-indent: 0pt; text-align: left"><br /></p>
    <ol id="l2">
      <li data-list-text="i.">
        <h1 style="padding-left: 50pt; text-indent: -13pt; text-align: justify">
          The date of execution of Affidavit should be same as the date of
          attestation by the Notary Public / First Class Magistrate.
        </h1>
      </li>
      <li data-list-text="ii.">
        <h1
          style="
            padding-top: 13pt;
            padding-left: 50pt;
            text-indent: -13pt;
            text-align: justify;"

        >
          The Affidavit should be signed and affirmed by all the account holders
          in the presence of the above Authorities. Each page of the Affidavit
          should be signed by the account holders and should bear the seal of
          the Notary Public /First Class Magistrate.
        </h1>
      </li>
      <li data-list-text="iii.">
        <h1
          style="
            padding-top: 13pt;
            padding-left: 50pt;
            text-indent: -13pt;
            text-align: left;
          "
        >
          Full Address of the Notary Public / First Class Magistrate should be
          mentioned. Court fee /Notarial stamps, as applicable, should be
          affixed on the Affidavit.
        </h1>
      </li>
      <li data-list-text="iv.">
        <h1
          style="
            padding-top: 13pt;
            padding-left: 50pt;
            text-indent: -13pt;
            text-align: left;
          "
        >
          Notary Book No. and Serial No. should be specifically stated on the
          Affidavit.
        </h1>
        <p style="text-indent: 0pt; text-align: left"><br /></p>
      </li>
      <li data-list-text="v.">
        <h1 style="padding-left: 50pt; text-indent: -13pt; text-align: left">
          Changes/Alterations/Overwriting made in the Affidavit should be
          authenticated by the same Notary Public /First Class Magistrate, under
          their official seal.
        </h1>
      </li>
    </ol>
    <p style="text-indent: 0pt; text-align: left"><br /></p>

    <p
      style="
        padding-left: 22pt;
        text-indent: 0pt;
        line-height: 1pt;
        text-align: left;
      "
    />
    <p style="padding-left: 14pt; text-indent: 0pt; text-align: justify" >
        <p ng-show="!data.condition" ng-class="{'hide-print': data.condition}" ng-repeat="item in doc">
            I/We {{ $index + 1 }} <u ng-style="{'color': item.dateOfDeath ? 'red' : 'inherit'}">{{item.name}}</u> S/d/o @* {{data.relationship}} *@<u> {{item.relativesName}}</u>
			aged <u>{{calculateAge(item.dob,item.dateOfDeath)}}</u>.<br />
		</p>
        <p ng-show="data.condition" ng-class="{'hide-print': !data.condition}" ng-repeat="h in data.heirs">
            I/We {{ $index + 1 }} <u ng-style="{'color': h.dateOfDeath ? 'red' : 'inherit'}">{{h.name}}</u> S/d/o<u> {{data.sonof}}</u>
			aged <u>{{h.age}}</u>.<br />
		</p>
      <!--2<u>
        EVSV VEWV FSD </u
      >S/d/o<u>
        EVSE SFCVRS  </u
      >aged<u> VEDE ES</u>
      <u> FBES ERGS </u>3<u>
        VES EVSDGRS </u
      >S/d/o<u>VESVERVRF  </u> aged<u>
      VSEGRHBDFBDRB </u
      >. 4<u>
        ESGTH THR HRT
      </u>
      S/d/o<u>
        NTBVRS BRSVRS </u
      >aged<u>
      BHKJ NJKJBBK  </u
            >.-->
      Residing at
      @* B-205, KARMBHUMI APPARTMENT, BHUMIPARK SOCIETY, SHAPAR,      BEHIND DENA BANK, RAJKOT, GUJARAT, 360024 *@ {{data.address}} solemnly affirm and declare in
            favour of <span class="s4">@* TATA CHEMICALS LTD *@{{data.companyName}}</span><span class="h3"> </span>(<b>Name of the Company) </b>whose securities
      were held by the holders prior to transfer to IEPF Demat Account),
            <b>Registered Office: </b><span class="s5">@* TATA CHEMICALS LTD, *@{{ data.companyName}} </span>

            <span class="s6">@* Bombay House, 24 Homi Mody Street, Fort, Mumbai, Maharashtra, 400001 *@</span><b>( </b
      ><span class="s7"
        >Name and full address of the Registered Office of the Company is
        printed on all certificate[s], warrant[s] and annual report[s], issued
        by the Company) </span
      ><span class="s8">is situated at </span
      ><span class="s7"
        >@* Bombay House, 24 Homi Mody Street, Fort, Mumbai, Maharashtra,
        400001 *@{{data.companyAddress}}
            </span>
    </p>
<br>
    <ol id="l3">
      <li data-list-text="1.">
        <p style="padding-left: 32pt; text-indent: -18pt; text-align: justify">
          That I/We weree the sole/joint holders of <u>{{data.qty}}</u> number of shares/
          debentures/ bonds (<b
            >mention the details of TOTAL number of securities prior to transfer
            of shares to the IEPF Demat Account as provided by IEPF Rules</b>) in <span class="h3">@* TATA CHEMICALS LTD *@{{ data.companyName}} </span>(<b>Name of Company) </b
          >whose securities were held by the holders as detailed below:
        </p>
        <p style="padding-top: 2pt; text-indent: 0pt; text-align: left">
          <br />
        </p>
        <table
          style="border-collapse: collapse; margin-left: 32.5pt"
          cellspacing="0"
        >
          <tr style="height: 68pt">
            <td
              style="
                width: 85pt;
                border-top-style: solid;
                border-top-width: 1pt;
                border-left-style: solid;
                border-left-width: 1pt;
                border-bottom-style: solid;
                border-bottom-width: 1pt;
                border-right-style: solid;
                border-right-width: 1pt;
              "
            >
              <p
                class="s9"
                style="
                  padding-left: 2pt;
                  text-indent: 0pt;
                  line-height: 14pt;
                  text-align: center;
                "
              >
                Folio No.
              </p>
            </td>
            <td
              style="
                width: 113pt;
                border-top-style: solid;
                border-top-width: 1pt;
                border-left-style: solid;
                border-left-width: 1pt;
                border-bottom-style: solid;
                border-bottom-width: 1pt;
                border-right-style: solid;
                border-right-width: 1pt;
              "
            >
              <p
                class="s9"
                style="padding-left: 9pt; text-indent: 9pt; text-align: left"
              >
                No. of Shares / Debentures/Bonds
              </p>
            </td>
            <td
              style="
                width: 67pt;
                border-top-style: solid;
                border-top-width: 1pt;
                border-left-style: solid;
                border-left-width: 1pt;
                border-bottom-style: solid;
                border-bottom-width: 1pt;
                border-right-style: solid;
                border-right-width: 1pt;
              "
            >
              <p
                class="s9"
                style="
                  padding-left: 8pt;
                  padding-right: 6pt;
                  text-indent: 0pt;
                  text-align: center;
                "
              >
                Certificat e No.
              </p>
              <p
                class="s9"
                style="
                  padding-left: 8pt;
                  padding-right: 6pt;
                  text-indent: 0pt;
                  text-align: center;
                "
              >
                (if
              </p>
              <p
                class="s9"
                style="
                  padding-left: 8pt;
                  padding-right: 6pt;
                  text-indent: 0pt;
                  text-align: center;
                "
              >
                available
              </p>
              <p
                class="s9"
                style="
                  padding-left: 8pt;
                  padding-right: 6pt;
                  text-indent: 0pt;
                  line-height: 12pt;
                  text-align: center;
                "
              >
                )
              </p>
            </td>
            <td
              style="
                width: 86pt;
                border-top-style: solid;
                border-top-width: 1pt;
                border-left-style: solid;
                border-left-width: 1pt;
                border-bottom-style: solid;
                border-bottom-width: 1pt;
                border-right-style: solid;
                border-right-width: 1pt;
              "
            >
              <p
                class="s9"
                style="
                  padding-left: 5pt;
                  padding-right: 4pt;
                  text-indent: 0pt;
                  text-align: left;
                "
              >
                Distinctive Nos. From
              </p>
              <p
                class="s9"
                style="padding-left: 11pt; text-indent: 0pt; text-align: left"
              >
                (if available)
              </p>
            </td>
            <td
              style="
                width: 99pt;
                border-top-style: solid;
                border-top-width: 1pt;
                border-left-style: solid;
                border-left-width: 1pt;
                border-bottom-style: solid;
                border-bottom-width: 1pt;
                border-right-style: solid;
                border-right-width: 1pt;
              "
            >
              <p
                class="s9"
                style="
                  padding-left: 1pt;
                  text-indent: 0pt;
                  line-height: 14pt;
                  text-align: center;
                "
              >
                Distinctive Nos.
              </p>
              <p
                class="s9"
                style="
                  padding-top: 1pt;
                  padding-left: 1pt;
                  text-indent: 0pt;
                  text-align: center;
                "
              >
                To
              </p>
              <p
                class="s9"
                style="padding-left: 1pt; text-indent: 0pt; text-align: center"
              >
                (if available)
              </p>
            </td>
          </tr>
                    <tr style="height: 15pt" ng-repeat="tmp in shares">
            <td
              style="
                width: 85pt;
                border-top-style: solid;
                border-top-width: 1pt;
                border-left-style: solid;
                border-left-width: 1pt;
                border-right-style: solid;
                border-right-width: 1pt;
border-bottom-style: solid;
    border-bottom-width: 1pt;
              "
            >
              <p
                class="s10"
                style="
                  padding-left: 2pt;
                  text-indent: 0pt;
                  line-height: 13pt;
                  text-align: center;
                "
              >
                                {{tmp.folioNo}}
              </p>
            </td>
            <td
              style="
                width: 113pt;
                border-top-style: solid;
                border-top-width: 1pt;
                border-left-style: solid;
                border-left-width: 1pt;
                border-right-style: solid;
                border-right-width: 1pt;
border-bottom-style: solid;
    border-bottom-width: 1pt;
              "
            >
              <p
                class="s10"
                style="
                  padding-left: 1pt;
                  text-indent: 0pt;
                  line-height: 13pt;
                  text-align: center;
                "
              >
                                {{tmp.actualQty}}
              </p>
            </td>
            <td
              style="
                width: 67pt;
                border-top-style: solid;
                border-top-width: 1pt;
                border-left-style: solid;
                border-left-width: 1pt;
                border-bottom-style: solid;
                border-bottom-width: 1pt;
                border-right-style: solid;
                border-right-width: 1pt;
              "
              @* rowspan="16" *@
            >
                            <p style="text-indent: 0pt; text-align: left"> {{tmp.certificateNo}}<br /></p>
            </td>
            <td
              style="
                width: 86pt;
                border-top-style: solid;
                border-top-width: 1pt;
                border-left-style: solid;
                border-left-width: 1pt;
                border-right-style: solid;
                border-right-width: 1pt;
border-bottom-style: solid;
    border-bottom-width: 1pt;
              "
            >
              <p
                class="s10"
                style="
                  padding-left: 1pt;
                  text-indent: 0pt;
                  line-height: 13pt;
                  text-align: center;
                "
              >
                                {{tmp.distinctiveNosFrom}}
              </p>
            </td>
            <td
              style="
                width: 99pt;
                border-top-style: solid;
                border-top-width: 1pt;
                border-left-style: solid;
                border-left-width: 1pt;
                border-right-style: solid;
                border-right-width: 1pt;
border-bottom-style: solid;
    border-bottom-width: 1pt;
              "
            >
              <p
                class="s10"
                style="
                  padding-left: 1pt;
                  text-indent: 0pt;
                  line-height: 13pt;
                  text-align: center;
                "
              >
                                {{tmp.distinctiveNosTo}}
              </p>
            </td>
          </tr>
          <!--<tr style="height: 13pt">
            <td
              style="
                width: 85pt;
                border-left-style: solid;
                border-left-width: 1pt;
                border-right-style: solid;
                border-right-width: 1pt;
              "
            >
              <p style="text-indent: 0pt; text-align: left"><br /></p>
            </td>
            <td
              style="
                width: 113pt;
                border-left-style: solid;
                border-left-width: 1pt;
                border-right-style: solid;
                border-right-width: 1pt;
              "
            >
              <p
                class="s10"
                style="
                  padding-left: 1pt;
                  text-indent: 0pt;
                  line-height: 12pt;
                  text-align: center;
                "
              >
                25
              </p>
            </td>
            <td
              style="
                width: 86pt;
                border-left-style: solid;
                border-left-width: 1pt;
                border-right-style: solid;
                border-right-width: 1pt;
              "
            >
              <p
                class="s10"
                style="
                  padding-left: 1pt;
                  text-indent: 0pt;
                  line-height: 12pt;
                  text-align: center;
                "
              >
                82955542
              </p>
            </td>
            <td
              style="
                width: 99pt;
                border-left-style: solid;
                border-left-width: 1pt;
                border-right-style: solid;
                border-right-width: 1pt;
              "
            >
              <p
                class="s10"
                style="
                  padding-left: 1pt;
                  text-indent: 0pt;
                  line-height: 12pt;
                  text-align: center;
                "
              >
                82955566
              </p>
            </td>
          </tr>
          <tr style="height: 13pt">
            <td
              style="
                width: 85pt;
                border-left-style: solid;
                border-left-width: 1pt;
                border-right-style: solid;
                border-right-width: 1pt;
              "
            >
              <p style="text-indent: 0pt; text-align: left"><br /></p>
            </td>
            <td
              style="
                width: 113pt;
                border-left-style: solid;
                border-left-width: 1pt;
                border-right-style: solid;
                border-right-width: 1pt;
              "
            >
              <p
                class="s10"
                style="
                  padding-left: 1pt;
                  text-indent: 0pt;
                  line-height: 12pt;
                  text-align: center;
                "
              >
                25
              </p>
            </td>
            <td
              style="
                width: 86pt;
                border-left-style: solid;
                border-left-width: 1pt;
                border-right-style: solid;
                border-right-width: 1pt;
              "
            >
              <p
                class="s10"
                style="
                  padding-left: 1pt;
                  text-indent: 0pt;
                  line-height: 12pt;
                  text-align: center;
                "
              >
                82955567
              </p>
            </td>
            <td
              style="
                width: 99pt;
                border-left-style: solid;
                border-left-width: 1pt;
                border-right-style: solid;
                border-right-width: 1pt;
              "
            >
              <p
                class="s10"
                style="
                  padding-left: 1pt;
                  text-indent: 0pt;
                  line-height: 12pt;
                  text-align: center;
                "
              >
                82955591
              </p>
            </td>
          </tr>
          <tr style="height: 13pt">
            <td
              style="
                width: 85pt;
                border-left-style: solid;
                border-left-width: 1pt;
                border-right-style: solid;
                border-right-width: 1pt;
              "
            >
              <p style="text-indent: 0pt; text-align: left"><br /></p>
            </td>
            <td
              style="
                width: 113pt;
                border-left-style: solid;
                border-left-width: 1pt;
                border-right-style: solid;
                border-right-width: 1pt;
              "
            >
              <p
                class="s10"
                style="
                  padding-left: 1pt;
                  text-indent: 0pt;
                  line-height: 12pt;
                  text-align: center;
                "
              >
                25
              </p>
            </td>
            <td
              style="
                width: 86pt;
                border-left-style: solid;
                border-left-width: 1pt;
                border-right-style: solid;
                border-right-width: 1pt;
              "
            >
              <p
                class="s10"
                style="
                  padding-left: 1pt;
                  text-indent: 0pt;
                  line-height: 12pt;
                  text-align: center;
                "
              >
                82955592
              </p>
            </td>
            <td
              style="
                width: 99pt;
                border-left-style: solid;
                border-left-width: 1pt;
                border-right-style: solid;
                border-right-width: 1pt;
              "
            >
              <p
                class="s10"
                style="
                  padding-left: 1pt;
                  text-indent: 0pt;
                  line-height: 12pt;
                  text-align: center;
                "
              >
                82955616
              </p>
            </td>
          </tr>
          <tr style="height: 13pt">
            <td
              style="
                width: 85pt;
                border-left-style: solid;
                border-left-width: 1pt;
                border-right-style: solid;
                border-right-width: 1pt;
              "
            >
              <p style="text-indent: 0pt; text-align: left"><br /></p>
            </td>
            <td
              style="
                width: 113pt;
                border-left-style: solid;
                border-left-width: 1pt;
                border-right-style: solid;
                border-right-width: 1pt;
              "
            >
              <p
                class="s10"
                style="
                  padding-left: 1pt;
                  text-indent: 0pt;
                  line-height: 12pt;
                  text-align: center;
                "
              >
                25
              </p>
            </td>
            <td
              style="
                width: 86pt;
                border-left-style: solid;
                border-left-width: 1pt;
                border-right-style: solid;
                border-right-width: 1pt;
              "
            >
              <p
                class="s10"
                style="
                  padding-left: 1pt;
                  text-indent: 0pt;
                  line-height: 12pt;
                  text-align: center;
                "
              >
                82955617
              </p>
            </td>
            <td
              style="
                width: 99pt;
                border-left-style: solid;
                border-left-width: 1pt;
                border-right-style: solid;
                border-right-width: 1pt;
              "
            >
              <p
                class="s10"
                style="
                  padding-left: 1pt;
                  text-indent: 0pt;
                  line-height: 12pt;
                  text-align: center;
                "
              >
                82955641
              </p>
            </td>
          </tr>
          <tr style="height: 13pt">
            <td
              style="
                width: 85pt;
                border-left-style: solid;
                border-left-width: 1pt;
                border-right-style: solid;
                border-right-width: 1pt;
              "
            >
              <p style="text-indent: 0pt; text-align: left"><br /></p>
            </td>
            <td
              style="
                width: 113pt;
                border-left-style: solid;
                border-left-width: 1pt;
                border-right-style: solid;
                border-right-width: 1pt;
              "
            >
              <p
                class="s10"
                style="
                  padding-left: 1pt;
                  text-indent: 0pt;
                  line-height: 12pt;
                  text-align: center;
                "
              >
                9
              </p>
            </td>
            <td
              style="
                width: 86pt;
                border-left-style: solid;
                border-left-width: 1pt;
                border-right-style: solid;
                border-right-width: 1pt;
              "
            >
              <p
                class="s10"
                style="
                  padding-left: 1pt;
                  text-indent: 0pt;
                  line-height: 12pt;
                  text-align: center;
                "
              >
                82955642
              </p>
            </td>
            <td
              style="
                width: 99pt;
                border-left-style: solid;
                border-left-width: 1pt;
                border-right-style: solid;
                border-right-width: 1pt;
              "
            >
              <p
                class="s10"
                style="
                  padding-left: 1pt;
                  text-indent: 0pt;
                  line-height: 12pt;
                  text-align: center;
                "
              >
                82955650
              </p>
            </td>
          </tr>
          <tr style="height: 13pt">
            <td
              style="
                width: 85pt;
                border-left-style: solid;
                border-left-width: 1pt;
                border-right-style: solid;
                border-right-width: 1pt;
              "
            >
              <p style="text-indent: 0pt; text-align: left"><br /></p>
            </td>
            <td
              style="
                width: 113pt;
                border-left-style: solid;
                border-left-width: 1pt;
                border-right-style: solid;
                border-right-width: 1pt;
              "
            >
              <p
                class="s10"
                style="
                  padding-left: 1pt;
                  text-indent: 0pt;
                  line-height: 12pt;
                  text-align: center;
                "
              >
                25
              </p>
            </td>
            <td
              style="
                width: 86pt;
                border-left-style: solid;
                border-left-width: 1pt;
                border-right-style: solid;
                border-right-width: 1pt;
              "
            >
              <p
                class="s10"
                style="
                  padding-left: 1pt;
                  text-indent: 0pt;
                  line-height: 12pt;
                  text-align: center;
                "
              >
                102555517
              </p>
            </td>
            <td
              style="
                width: 99pt;
                border-left-style: solid;
                border-left-width: 1pt;
                border-right-style: solid;
                border-right-width: 1pt;
              "
            >
              <p
                class="s10"
                style="
                  padding-left: 1pt;
                  text-indent: 0pt;
                  line-height: 12pt;
                  text-align: center;
                "
              >
                102555541
              </p>
            </td>
          </tr>
          <tr style="height: 13pt">
            <td
              style="
                width: 85pt;
                border-left-style: solid;
                border-left-width: 1pt;
                border-right-style: solid;
                border-right-width: 1pt;
              "
            >
              <p style="text-indent: 0pt; text-align: left"><br /></p>
            </td>
            <td
              style="
                width: 113pt;
                border-left-style: solid;
                border-left-width: 1pt;
                border-right-style: solid;
                border-right-width: 1pt;
              "
            >
              <p
                class="s10"
                style="
                  padding-left: 1pt;
                  text-indent: 0pt;
                  line-height: 12pt;
                  text-align: center;
                "
              >
                25
              </p>
            </td>
            <td
              style="
                width: 86pt;
                border-left-style: solid;
                border-left-width: 1pt;
                border-right-style: solid;
                border-right-width: 1pt;
              "
            >
              <p
                class="s10"
                style="
                  padding-left: 1pt;
                  text-indent: 0pt;
                  line-height: 12pt;
                  text-align: center;
                "
              >
                102555542
              </p>
            </td>
            <td
              style="
                width: 99pt;
                border-left-style: solid;
                border-left-width: 1pt;
                border-right-style: solid;
                border-right-width: 1pt;
              "
            >
              <p
                class="s10"
                style="
                  padding-left: 1pt;
                  text-indent: 0pt;
                  line-height: 12pt;
                  text-align: center;
                "
              >
                102555566
              </p>
            </td>
          </tr>
          <tr style="height: 13pt">
            <td
              style="
                width: 85pt;
                border-left-style: solid;
                border-left-width: 1pt;
                border-right-style: solid;
                border-right-width: 1pt;
              "
            >
              <p style="text-indent: 0pt; text-align: left"><br /></p>
            </td>
            <td
              style="
                width: 113pt;
                border-left-style: solid;
                border-left-width: 1pt;
                border-right-style: solid;
                border-right-width: 1pt;
              "
            >
              <p
                class="s10"
                style="
                  padding-left: 1pt;
                  text-indent: 0pt;
                  line-height: 12pt;
                  text-align: center;
                "
              >
                25
              </p>
            </td>
            <td
              style="
                width: 86pt;
                border-left-style: solid;
                border-left-width: 1pt;
                border-right-style: solid;
                border-right-width: 1pt;
              "
            >
              <p
                class="s10"
                style="
                  padding-left: 1pt;
                  text-indent: 0pt;
                  line-height: 12pt;
                  text-align: center;
                "
              >
                102555567
              </p>
            </td>
            <td
              style="
                width: 99pt;
                border-left-style: solid;
                border-left-width: 1pt;
                border-right-style: solid;
                border-right-width: 1pt;
              "
            >
              <p
                class="s10"
                style="
                  padding-left: 1pt;
                  text-indent: 0pt;
                  line-height: 12pt;
                  text-align: center;
                "
              >
                102555591
              </p>
            </td>
          </tr>
          <tr style="height: 13pt">
            <td
              style="
                width: 85pt;
                border-left-style: solid;
                border-left-width: 1pt;
                border-right-style: solid;
                border-right-width: 1pt;
              "
            >
              <p style="text-indent: 0pt; text-align: left"><br /></p>
            </td>
            <td
              style="
                width: 113pt;
                border-left-style: solid;
                border-left-width: 1pt;
                border-right-style: solid;
                border-right-width: 1pt;
              "
            >
              <p
                class="s10"
                style="
                  padding-left: 1pt;
                  text-indent: 0pt;
                  line-height: 12pt;
                  text-align: center;
                "
              >
                25
              </p>
            </td>
            <td
              style="
                width: 86pt;
                border-left-style: solid;
                border-left-width: 1pt;
                border-right-style: solid;
                border-right-width: 1pt;
              "
            >
              <p
                class="s10"
                style="
                  padding-left: 1pt;
                  text-indent: 0pt;
                  line-height: 12pt;
                  text-align: center;
                "
              >
                102555592
              </p>
            </td>
            <td
              style="
                width: 99pt;
                border-left-style: solid;
                border-left-width: 1pt;
                border-right-style: solid;
                border-right-width: 1pt;
              "
            >
              <p
                class="s10"
                style="
                  padding-left: 1pt;
                  text-indent: 0pt;
                  line-height: 12pt;
                  text-align: center;
                "
              >
                102555616
              </p>
            </td>
          </tr>
          <tr style="height: 13pt">
            <td
              style="
                width: 85pt;
                border-left-style: solid;
                border-left-width: 1pt;
                border-right-style: solid;
                border-right-width: 1pt;
              "
            >
              <p style="text-indent: 0pt; text-align: left"><br /></p>
            </td>
            <td
              style="
                width: 113pt;
                border-left-style: solid;
                border-left-width: 1pt;
                border-right-style: solid;
                border-right-width: 1pt;
              "
            >
              <p
                class="s10"
                style="
                  padding-left: 1pt;
                  text-indent: 0pt;
                  line-height: 12pt;
                  text-align: center;
                "
              >
                25
              </p>
            </td>
            <td
              style="
                width: 86pt;
                border-left-style: solid;
                border-left-width: 1pt;
                border-right-style: solid;
                border-right-width: 1pt;
              "
            >
              <p
                class="s10"
                style="
                  padding-left: 1pt;
                  text-indent: 0pt;
                  line-height: 12pt;
                  text-align: center;
                "
              >
                102555617
              </p>
            </td>
            <td
              style="
                width: 99pt;
                border-left-style: solid;
                border-left-width: 1pt;
                border-right-style: solid;
                border-right-width: 1pt;
              "
            >
              <p
                class="s10"
                style="
                  padding-left: 1pt;
                  text-indent: 0pt;
                  line-height: 12pt;
                  text-align: center;
                "
              >
                102555641
              </p>
            </td>
          </tr>
          <tr style="height: 13pt">
            <td
              style="
                width: 85pt;
                border-left-style: solid;
                border-left-width: 1pt;
                border-right-style: solid;
                border-right-width: 1pt;
              "
            >
              <p style="text-indent: 0pt; text-align: left"><br /></p>
            </td>
            <td
              style="
                width: 113pt;
                border-left-style: solid;
                border-left-width: 1pt;
                border-right-style: solid;
                border-right-width: 1pt;
              "
            >
              <p
                class="s10"
                style="
                  padding-left: 1pt;
                  text-indent: 0pt;
                  line-height: 12pt;
                  text-align: center;
                "
              >
                9
              </p>
            </td>
            <td
              style="
                width: 86pt;
                border-left-style: solid;
                border-left-width: 1pt;
                border-right-style: solid;
                border-right-width: 1pt;
              "
            >
              <p
                class="s10"
                style="
                  padding-left: 1pt;
                  text-indent: 0pt;
                  line-height: 12pt;
                  text-align: center;
                "
              >
                102555642
              </p>
            </td>
            <td
              style="
                width: 99pt;
                border-left-style: solid;
                border-left-width: 1pt;
                border-right-style: solid;
                border-right-width: 1pt;
              "
            >
              <p
                class="s10"
                style="
                  padding-left: 1pt;
                  text-indent: 0pt;
                  line-height: 12pt;
                  text-align: center;
                "
              >
                102555650
              </p>
            </td>
          </tr>
          <tr style="height: 13pt">
            <td
              style="
                width: 85pt;
                border-left-style: solid;
                border-left-width: 1pt;
                border-right-style: solid;
                border-right-width: 1pt;
              "
            >
              <p style="text-indent: 0pt; text-align: left"><br /></p>
            </td>
            <td
              style="
                width: 113pt;
                border-left-style: solid;
                border-left-width: 1pt;
                border-right-style: solid;
                border-right-width: 1pt;
              "
            >
              <p
                class="s10"
                style="
                  padding-left: 1pt;
                  text-indent: 0pt;
                  line-height: 12pt;
                  text-align: center;
                "
              >
                50
              </p>
            </td>
            <td
              style="
                width: 86pt;
                border-left-style: solid;
                border-left-width: 1pt;
                border-right-style: solid;
                border-right-width: 1pt;
              "
            >
              <p
                class="s10"
                style="
                  padding-left: 1pt;
                  text-indent: 0pt;
                  line-height: 12pt;
                  text-align: center;
                "
              >
                150686198
              </p>
            </td>
            <td
              style="
                width: 99pt;
                border-left-style: solid;
                border-left-width: 1pt;
                border-right-style: solid;
                border-right-width: 1pt;
              "
            >
              <p
                class="s10"
                style="
                  padding-left: 1pt;
                  text-indent: 0pt;
                  line-height: 12pt;
                  text-align: center;
                "
              >
                150686247
              </p>
            </td>
          </tr>
          <tr style="height: 13pt">
            <td
              style="
                width: 85pt;
                border-left-style: solid;
                border-left-width: 1pt;
                border-right-style: solid;
                border-right-width: 1pt;
              "
            >
              <p style="text-indent: 0pt; text-align: left"><br /></p>
            </td>
            <td
              style="
                width: 113pt;
                border-left-style: solid;
                border-left-width: 1pt;
                border-right-style: solid;
                border-right-width: 1pt;
              "
            >
              <p
                class="s10"
                style="
                  padding-left: 1pt;
                  text-indent: 0pt;
                  line-height: 12pt;
                  text-align: center;
                "
              >
                50
              </p>
            </td>
            <td
              style="
                width: 86pt;
                border-left-style: solid;
                border-left-width: 1pt;
                border-right-style: solid;
                border-right-width: 1pt;
              "
            >
              <p
                class="s10"
                style="
                  padding-left: 1pt;
                  text-indent: 0pt;
                  line-height: 12pt;
                  text-align: center;
                "
              >
                150686248
              </p>
            </td>
            <td
              style="
                width: 99pt;
                border-left-style: solid;
                border-left-width: 1pt;
                border-right-style: solid;
                border-right-width: 1pt;
              "
            >
              <p
                class="s10"
                style="
                  padding-left: 1pt;
                  text-indent: 0pt;
                  line-height: 12pt;
                  text-align: center;
                "
              >
                150686297
              </p>
            </td>
          </tr>
          <tr style="height: 13pt">
            <td
              style="
                width: 85pt;
                border-left-style: solid;
                border-left-width: 1pt;
                border-right-style: solid;
                border-right-width: 1pt;
              "
            >
              <p style="text-indent: 0pt; text-align: left"><br /></p>
            </td>
            <td
              style="
                width: 113pt;
                border-left-style: solid;
                border-left-width: 1pt;
                border-right-style: solid;
                border-right-width: 1pt;
              "
            >
              <p
                class="s10"
                style="
                  padding-left: 1pt;
                  text-indent: 0pt;
                  line-height: 12pt;
                  text-align: center;
                "
              >
                50
              </p>
            </td>
            <td
              style="
                width: 86pt;
                border-left-style: solid;
                border-left-width: 1pt;
                border-right-style: solid;
                border-right-width: 1pt;
              "
            >
              <p
                class="s10"
                style="
                  padding-left: 1pt;
                  text-indent: 0pt;
                  line-height: 12pt;
                  text-align: center;
                "
              >
                150686298
              </p>
            </td>
            <td
              style="
                width: 99pt;
                border-left-style: solid;
                border-left-width: 1pt;
                border-right-style: solid;
                border-right-width: 1pt;
              "
            >
              <p
                class="s10"
                style="
                  padding-left: 1pt;
                  text-indent: 0pt;
                  line-height: 12pt;
                  text-align: center;
                "
              >
                150686347
              </p>
            </td>
          </tr>
          <tr style="height: 13pt">
            <td
              style="
                width: 85pt;
                border-left-style: solid;
                border-left-width: 1pt;
                border-bottom-style: solid;
                border-bottom-width: 1pt;
                border-right-style: solid;
                border-right-width: 1pt;
              "
            >
              <p style="text-indent: 0pt; text-align: left"><br /></p>
            </td>
            <td
              style="
                width: 113pt;
                border-left-style: solid;
                border-left-width: 1pt;
                border-bottom-style: solid;
                border-bottom-width: 1pt;
                border-right-style: solid;
                border-right-width: 1pt;
              "
            >
              <p
                class="s10"
                style="
                  padding-left: 1pt;
                  text-indent: 0pt;
                  line-height: 12pt;
                  text-align: center;
                "
              >
                10
              </p>
            </td>
            <td
              style="
                width: 86pt;
                border-left-style: solid;
                border-left-width: 1pt;
                border-bottom-style: solid;
                border-bottom-width: 1pt;
                border-right-style: solid;
                border-right-width: 1pt;
              "
            >
              <p
                class="s10"
                style="
                  padding-left: 1pt;
                  text-indent: 0pt;
                  line-height: 12pt;
                  text-align: center;
                "
              >
                150686348
              </p>
            </td>
            <td
              style="
                width: 99pt;
                border-left-style: solid;
                border-left-width: 1pt;
                border-bottom-style: solid;
                border-bottom-width: 1pt;
                border-right-style: solid;
                border-right-width: 1pt;
              "
            >
              <p
                class="s10"
                style="
                  padding-left: 1pt;
                  text-indent: 0pt;
                  line-height: 12pt;
                  text-align: center;
                "
              >
                150686357
              </p>
            </td>
                    </tr>-->
        </table>
        <p style="text-indent: 0pt; text-align: left"><br /></p>
      </li>
      <li data-list-text="2.">
        <p style="padding-left: 32pt; text-indent: -18pt; text-align: justify">
          That I/We am/are residing at the above address and have not changed
          my/our address from the one recorded with the Company for the past 3
          years.
        </p>
        <p
          class="s11"
          style="
            padding-top: 13pt;
            padding-left: 32pt;
            text-indent: 0pt;
            text-align: justify;
          "
        >
          [Kindly furnish copy of proof of old (in case of change) and new
          address viz. Valid Passport/ Aadhaar Card/ Voters Identity Card/
          Electricity bill/ Telephone (only land line) bill / Latest Updated
          Bank Account Statement / Passbook [which is not more than 3 months
          old], duly attested by a Notary Public / Bank Manager / First Class
          Magistrate. Attestation by Notary Public/ First Class Magistrate
          should mention their name, full address, registration number and affix
          their seal, Notarial / Court Fee stamps, as applicable. Attestation by
          Bank Manager should bear the name, full address and official stamp of
          the bank. The original counterfoil of dividend / interest warrant will
          be accepted as old address proof. The address proof should be legible
          and in the name of the registered accountholder<b>(mandatory)</b>].
        </p>
      </li>
      <li data-list-text="3.">
        <p
          style="
            padding-top: 13pt;
            padding-left: 32pt;
            text-indent: -18pt;
            text-align: justify;
          "
        >
          That the above shares were acquired by me/us out of my/our own
          investment/ funds against allotment in Public Issue/ allotment in
          Right Issue or acquired from the market in the year(s)
        </p>
        <p style="padding-left: 32pt; text-indent: 0pt; text-align: justify">
                    <u ng-repeat="tmp in shares">
                        @* BRSBR YRTHRRYHT STRHRRHT *@ {{tmp.year + ','}}
                    </u>.
        </p>
        <p style="text-indent: 0pt; text-align: left"><br /></p>
      </li>
      <li data-list-text="4.">
        <p style="padding-left: 32pt; text-indent: -18pt; text-align: justify">
          That my/our signature(s) might have changed/ altered by passing of
          time and therefore I/We request the Company to treat my/our
          signature(s) as per the records maintained with the Company as
          cancelled.
        </p>
      </li>
      <li data-list-text="5.">
        <p
          style="
            padding-top: 13pt;
            padding-left: 32pt;
            text-indent: -18pt;
            text-align: justify;
          "
        >
          That my/our specimen signature(s) given below be taken on record in
          respect of the abovementioned folio.
        </p>
        <p style="text-indent: 0pt; text-align: left"><br /></p>
      </li>
      <li data-list-text="6.">
                <p style="padding-left: 32pt; text-indent: -18pt; text-align: justify">
                    
          Due to old age and health problems, I now find it difficult to sign as
          per my signature recorded with the Company. Dr.<u>
            @* ESEF TGRFER *@ &emsp;&emsp;  </u
          >of<u>
                        @* VSWEVSV TEGRTR  *@   &emsp;&emsp;
                    </u>
          has issued a medical certificate in my favour giving the reasons for
                        my inability to sign the relevant documents
                (<u>Strike out if not applicable</u
          >)
        </p>

        <p style="text-indent: 0pt; text-align: left"><br /></p>
      </li>
      <li data-list-text="7.">
        <p style="padding-left: 32pt; text-indent: -18pt; text-align: justify">
          I/We hereby affirm that I/We shall not hold the Company or its Agents
          in anyway responsible for any consequences that might occur directly
          or indirectly on account of the Company or its Agents acting on my /
          our request herein stated by replacing the signature(s) in the
          Company’s records and for the consequential acts/deeds by the
          Company/its Agent.
        </p>
        <p style="text-indent: 0pt; text-align: left"><br /></p>
      </li>
      <li data-list-text="8.">
        <p
          class="s13"
          style="padding-left: 32pt; text-indent: -18pt; text-align: justify"
        >
          <span class="p">That</span>,
                    <u>@* SHANTAGAURI GOSAI &amp; VINODGIRI GOSAI *@{{data.certificateName}}</u>
          <span class="p">(name as recorded with the Company</span>  against the above folio) and
          <span class="s14"
            >@* SHANTABEN&nbsp; NARENDRAGIRI&nbsp; GOSAI&nbsp; &amp;&nbsp;
            VINODGIRI *@{{data.panname}}
                    </span><span class="s13"> </span
          ><span class="s15">
                        (name as supporting documents- <u>&emsp;&emsp;&emsp;&emsp;&emsp;</u>) is one and the
            same person.</span
          >  I /We hereby affirm that I / We shall not hold the Company or its
          agents anyway responsible for any consequences that might occur
          directly or indirectly on account of the Company or its Agents acting
          on my / our request herein and for the consequential acts/deeds by the
          Co./its agent. (<u>Strike out if not applicable</u>)
        </p>
        <p style="padding-left: 32pt; text-indent: 0pt; text-align: left">

        </p>
        <p style="text-indent: 0pt; text-align: left"><br /></p>
      </li>
      <li data-list-text="9.">
        <p style="padding-left: 32pt; text-indent: -18pt; text-align: justify">
          That I/we enclose legible self-attested copies of my/our Valid
          Passport / PAN Card bearing No. <u>{{data.pan}}</u> as proof of identity
          (mandatory).
        </p>
      </li>
      <li data-list-text="10.">
        <p
          style="
            padding-top: 3pt;
            padding-left: 32pt;
            text-indent: -18pt;
            text-align: justify;
          "
        >
          I/We request you to release the unclaimed dividends which have not
          been transferred to IEPF Authority for which, the request letter is
          enclosed.
        </p>
        <p style="text-indent: 0pt; text-align: left"><br /></p>
      </li>
      <li data-list-text="11.">
        <p style="padding-left: 32pt; text-indent: -18pt; text-align: justify">
          This Affidavit is executed in favour of the Company/its Agent on
          my/our own volition and is in the format as required by the
          Company/its Agent forwarded to me/us vide its letter No.  <u>
                        @* INIFRV BFDJNFDB {{data.letterno}}*@ &emsp;&emsp;&emsp;&emsp;&emsp;
                    </u>dated<u>
                        @* JBKRFDJ BDFKJJNK {{data.letterdate | date:'dd-MM-yyyy'}}*@&emsp;&emsp;&emsp;&emsp;&emsp;
                    </u>
        </p>
      </li>
    </ol>
    <p style="text-indent: 0pt; text-align: left"><br /></p>
    <p class="s1" style="text-indent: 0pt; text-align: center">Verification</p>
    <p
      style="
        padding-top: 13pt;
        padding-left: 14pt;
        text-indent: 0pt;
        text-align: justify;
      "
    >
      I/We solemnly affirm that the statements contained in the above paragraphs
      are true to the best of my/our knowledge, information and belief and that
      nothing material has been concealed from being disclosed.
    </p>
    <p style="text-indent: 0pt; text-align: left"><br /></p>
    <p style="padding-left: 14pt; text-indent: 0pt; text-align: justify">
      Solemnly declared and affirmed on Identification at<u>
                {{data.place}}
            </u>on this<u> @* 20  *@ &emsp;&emsp;&emsp;</u>day of<u> @* {{data.month}} *@&emsp;&emsp;&emsp; </u>@* {{data.year}} *@20<u>&emsp;&emsp;</u>.
    </p>
    <p style="text-indent: 0pt; text-align: left"><br /></p>
    <p style="text-indent: 0pt; text-align: left"><br /></p>
    <p style="text-indent: 0pt; text-align: left"><br /></p>
    <p style="text-indent: 0pt; text-align: left"><br /></p>

    <h1 style="padding-left: 17pt; text-indent: 0pt; text-align: justify">
      (Photographs of all accountholders)
    </h1>
    <p style="padding-top: 8pt; text-indent: 0pt; text-align: left"><br /></p>
    <p style="text-indent: 0pt; text-align: left" />
    <p
      style="
        padding-left: 14pt;
        text-indent: 0pt;
        line-height: 214%;
        text-align: justify;
      "
           ng-repeat="item in doc">
      Specimen signature of {{item.name}} {{ $index + 1}}. <br>
      @* Specimen signature of<u
        >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </u> 
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  2. *@
    </p>
    <!--<p
      style="
        padding-left: 14pt;
        text-indent: 0pt;
        line-height: 12pt;
        text-align: justify;
      "
    >
      Specimen signature of
      <u
        >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </u>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   3.
    </p>
    <p style="text-indent: 0pt; text-align: left"><br /></p>
    <p style="padding-left: 14pt; text-indent: 0pt; text-align: justify">
      Specimen signature of
      <u
        >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </u>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   4.
        </p>-->
    <p style="text-indent: 0pt; text-align: left"><br /></p>
    <p
      style="
        padding-top: 4pt;
        padding-left: 14pt;
        text-indent: 0pt;
        text-align: left;
      "
        >
      Tel. No of the holder.:{{data.mobile}} <br /> Email id of the holder:{{data.email}}
    </p>
    <!--<p style="text-indent: 0pt; text-align: left"><u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u></p>
    <p style="text-indent: 0pt; text-align: left"><u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u></p>
        <p style="text-indent: 0pt; text-align: left"><u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u></p>-->

    <p
      style="
        padding-left: 20pt;
        text-indent: 0pt;
        line-height: 1pt;
        text-align: left;
      "
    />
    <p style="text-indent: 0pt; text-align: left"><br /></p>
    <p
      style="
        padding-left: 20pt;
        text-indent: 0pt;
        line-height: 1pt;
        text-align: left;
      "
    />
    <p style="text-indent: 0pt; text-align: left"><br /></p>
    <p style="text-indent: 0pt; text-align: right;padding-right: 120px;">Deponents</p>
    <p style="text-indent: 0pt; text-align: left"><br /></p>
    <p style="padding-left: 14pt; text-indent: 0pt; text-align: right">
      [Signature of First Class Magistrate/Notary Public]
    </p>
    <p style="padding-top: 2pt; text-indent: 0pt; text-align: left"><br /></p>
    <p
      style="
        padding-left: 20pt;
        text-indent: 0pt;
        line-height: 1pt;
        text-align: left;
      "
    />
    <p style="padding-left: 8pt; text-indent: 0pt; text-align: left">
      [Name and full address of
    </p>
    <p style="padding-left: 5pt; text-indent: 6pt; text-align: left">
      First Class Magistrate/ Notary Public]
      <br> 
      Registration No.<u></u>
    </p>
    <p style="text-indent: 0pt; text-align: left"><br /></p>
    <h1 style="padding-left: 5pt; text-indent: 0pt; text-align: left">
      Notary Register at Book No.<u>
         </u
      >Serial No.<u>
        </u
      >
    </h1>
    <p style="padding-top: 1pt; text-indent: 0pt; text-align: left"><br /></p>
    <div
    class="textbox"
    style="
      border: 1pt solid #000000;
      display: inline-block;
      min-height: 84pt;
      width: 299pt;
      vertical-align: top;
      margin-right: 10px;
    "
  >
    <p
      class="s10"
      style="padding-left: 5pt; text-indent: 0pt; text-align: left"
    >
      Official Seal of First Class Magistrate / Notary Public
    </p>
  </div>

  <div
    class="textbox"
    style="
      border: 1pt solid #000000;
      display: inline-block;
      min-height: 84pt;
      width: 198pt;
      vertical-align: top;
    "
  >
    <p
      class="s10"
      style="padding-left: 4pt; text-indent: 0pt; text-align: left"
    >
      Court Fee / Notarial Stamps
    </p>
  </div>

    <p style="padding-left: 5pt; text-indent: 0pt; text-align: left" />
    </div>
    <div class="myarea">
        <button class="btn btn-store mybtn" ng-click="printDiv('printForm')">PRINT</button>
    </div>
  </body>
<script>
    angular.module('Stock-CMS', []).controller('FormController', function ($scope, $http,$timeout) {
        $scope.customers = [];
         $scope.data = undefined;
            $scope.hDiv = true;
            var params = new URLSearchParams(window.location.search);
            var id = params.get('id');
            var id2 = params.get('id2');
        var isProcessing = false;
        $scope.processdone = false;

        // showLoader();


    $scope.navtogenerateform = function () {
        window.open('/Form/GenerateForm/'+id, '_self');
    };

    // Load Customers

        $scope.loadCustomers = function (sid,hid) {

             if(id){
                 hideLoader();
                 var currentDate = new Date();
             var monthsOfYear = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
                 $scope.hDiv = true;
            $http.get('/Enquiry/GetStocksById/'+id).then(function (response) {
                $scope.stock = response.data;
                var result = response.data;
                 $http.get('/Form/GetHolderByStockId/' + id).then(function (response) {
                    $scope.doc = response.data;
                    var docs = $scope.doc.find(x => x.id === sid);

                   var isDeceased = !!docs?.dateOfDeath;

                if (isDeceased) {
    $scope.heirId = null;
    $scope.legalheirlist = isDeceased;
    document.getElementById('heirId').value = '';
                    $http.get('/LegalHeir/GetClaimentLegalHeir/' + docs.id).then(function (response) {
                        $scope.heir = response.data;
                        var heirs = response.data.find(x => x.id === hid); // `hid` needs to be in scope
                        var holder = heirs;

                        populateData(holder, result, $scope.heir, currentDate, monthsOfYear,isDeceased,docs);
                    }, function (error) {
                        console.error('Error loading legal heir data:', error);
                        hideLoader();
                    });
                } else {
                    $scope.heirId = null;
    $scope.data = null;
    $scope.legalheirlist = isDeceased;
    document.getElementById('heirId').value = '';
                    var holder = docs;
                    populateData(holder, result, $scope.heir,currentDate, monthsOfYear,isDeceased,docs);
                }

                

                hideLoader();
                }, function (error) {
                    console.error('Error loading Docs:', error);
                    hideLoader();
                });
            }, function (error) {
                console.error('Error loading customers:', error);
                hideLoader();
            });
            }

            if(id2){
                 $scope.hDiv = false;
            $http.get('/Form/GetGenratedFormById/'+id2).then(function (response) {
                var result = response.data;
                var obj = JSON.parse(result.jsonString);
                $scope.data = {
                    docid: obj.docid,
                    customerName: obj.customerName,
					certificateName: obj.certificateName,
                    holders: JSON.parse(obj.holders),
                    address: obj.address,
                    companyName: obj.companyName,
                    companyAddress: obj.companyAddress,
                    qty: obj.qty,
                    jsondata: obj.jsondata,
                    panname: obj.panname,
                    pan: obj.pan,
                    letterno: obj.letterno,
                    letterdate: obj.letterdate,
                    mobile:obj.mobile,
                    email:obj.email,
                    place: obj.place,
                    day:obj.day,
                    month:obj.month,
                    year: obj.year,
                    condition: obj.condition,
                    heirs: obj.heirs,
					sonof: obj.sonof,
                };
                $scope.doc = $scope.data.holders;
                $scope.shares = JSON.parse($scope.data.jsondata);
                id = result.stockId;
               checkData();
                hideLoader();


            }, function (error) {
                console.error('Error loading customers:', error);
                hideLoader();
            });
            }

            function populateData(holder, result, heirlist, currentDate, monthsOfYear,isDeceased,doc) {
                $scope.data = {
                    docid: holder.id,
                   customerName : holder.name,
                   certificateName : holder.nameAsPerCertificate,
                   address: holder.addressAsPerAadhar,
                   companyName: result.companyName,
                   companyAddress: result.company.companyAddress,
                   sonof: doc.name,
                   qty: result.qty,
                   jsondata: result.stockJson,
                   panname: holder.nameAsPerPan,
                   pan: holder.pan,
                   letterno: '',
                   letterdate: '',
                   mobile: holder.mobile,
                   email: holder.email,
                   day: currentDate.getDate(),
                   month: monthsOfYear[currentDate.getMonth()],
                   year: currentDate.getFullYear(),
                   place:'Vadodara',
                   condition: isDeceased,
                   heirs: isDeceased ? heirlist.map(h => ({ name: h.name, pan: h.pan, address: h.addressAsPerAadhar, age: $scope.calculateAge(h.dob,h.dateOfDeath) })) : [],
                };
              $scope.shares = JSON.parse($scope.data.jsondata);
             }
        };

                function checkData() {
        if ($scope.data !== undefined) {
            // Delay the printDiv execution until the next digest cycle
            $timeout(function() {
                $scope.printDiv('printForm');
            }, 0);  // 0 delay to ensure it runs after the view update
        } else {
            setTimeout(checkData, 1000); // Retry after 1000ms if data is not yet available
        }
    }

          $scope.calculateAge = function(dob, deathDate) {
        if (!dob) {
            return '';
        }

        var birthDate = new Date(dob);
        var currentDate = new Date();
        var age = currentDate.getFullYear() - birthDate.getFullYear();
        var m = currentDate.getMonth() - birthDate.getMonth();

        if (m < 0 || (m === 0 && currentDate.getDate() < birthDate.getDate())) {
            age--;
        }

        // If deathDate is provided, calculate age at the time of death
        if (deathDate) {
            var deathDateObj = new Date(deathDate);
            age = deathDateObj.getFullYear() - birthDate.getFullYear();
            var mDeath = deathDateObj.getMonth() - birthDate.getMonth();

            if (mDeath < 0 || (mDeath === 0 && deathDateObj.getDate() < birthDate.getDate())) {
                age--;
            }
            return age;
            // return age + ' (deceased)';
        }

        return age;
    };

        //Genrate Form
         $scope.genrateForm = function () {
             if(id){
                 $scope.processdone = true;
                  if($scope.data.jsondata == undefined){
                     Swal.fire({
                            title: 'Error!',
                            text:  'Please Enter Stock Qty data in Custome\'s Stock Page',
                            icon: 'error',
                            confirmButtonText: 'Try Again'
                        });
                        $scope.processdone = false;
                return;
                 }
                 var arr = angular.copy($scope.doc);
                 $scope.data.holders = JSON.stringify(arr,null,2);

             let jsonString = JSON.stringify($scope.data, null, 2);
             var data ={
                 formName : 'Affidavit Change in SS TSR',
                 StockId : id,
                 url : `/Form/AffidavitChangeinSSTSR?id2=`,
                 jsonString : jsonString,
                 IsActive : true,
                 ClientName: $scope.data.customerName,
                  ClientId: $scope.data.docid,
             }

             const url = '/Form/GenrateForm';
                $http.post(url, data).then(function (response) {
                    if (response.data.success) {
                        Swal.fire({
                            title: 'Success',
                            text: response.data.message || 'Operation successful!',
                            icon: 'success',
                            confirmButtonText: 'OK'
                        });
                        $scope.processdone = false;
                        // $scope.loadCustomers();
                        window.open(response.data.data.url + response.data.data.id,'_self')
                    } else {
                       Swal.fire({
                         title: 'This Form is already Exits',
                         text: "do you want to go to that form?",
                         icon: 'warning',
                         showCancelButton: true,
                         confirmButtonText: 'Yes',
                         cancelButtonText: 'No'
                     }).then((result) => {
                         if (result.isConfirmed) {
                             window.open(response.data.message, '_self');
                         }
                 });
                 $scope.processdone = false;
                    }
                    isProcessing = false;
                }, function (error) {
                    Swal.fire({
                        title: 'Error',
                        text: 'An error occurred.',
                        icon: 'error',
                        confirmButtonText: 'OK'
                    });
                    $scope.processdone = false;
                    isProcessing = false;
                });
            //console.log(dataString);
            }
         }

        // Load Customers
        // $scope.loadCustomers = function () {
        //     $http.get('/Master/GetCustomers').then(function (response) {
        //         $scope.customers = response.data[0];
        //         hideLoader();
        //     }, function (error) {
        //         console.error('Error loading customers:', error);
        //         hideLoader();
        //     });
        // };

        // $scope.loadDocs = function () {
        //     if (true) {
        //         $http.get('/doc/getDocs/' + 1).then(function (response) {
        //             $scope.docs = response.data;
        //             hideLoader();
        //         }, function (error) {
        //             console.error('Error loading Docs:', error);
        //             hideLoader();
        //         });
        //     }
        // };

        //Function
        $scope.printDiv = function (divId) {
                    var css ='<style type="text/css">*{margin:0;padding:0;text-indent:0;}.s1{color:black;font-family:"Times New Roman",serif;font-style:normal;font-weight:bold;text-decoration:underline;font-size:12pt;}h1{color:black;font-family:"Times New Roman",serif;font-style:normal;font-weight:bold;text-decoration:none;font-size:12pt;}.s2{color:black;font-family:"Times New Roman",serif;font-style:normal;font-weight:bold;text-decoration:underline;font-size:11pt;}h2{color:black;font-family:"Times New Roman",serif;font-style:normal;font-weight:bold;text-decoration:none;font-size:11pt;}.p,p{color:black;font-family:"Times New Roman",serif;font-style:normal;font-weight:normal;text-decoration:none;font-size:12pt;margin:0pt;}.s4{color:black;font-family:"Times New Roman",serif;font-style:normal;font-weight:bold;text-decoration:underline;font-size:10pt;}.h3{color:black;font-family:"Times New Roman",serif;font-style:normal;font-weight:bold;text-decoration:none;font-size:10pt;}.s5{color:black;font-family:"Times New Roman",serif;font-style:normal;font-weight:bold;text-decoration:none;font-size:10pt;}.s6{color:black;font-family:Arial,sans-serif;font-style:normal;font-weight:normal;text-decoration:none;font-size:10pt;}.s7{color:black;font-family:"Times New Roman",serif;font-style:normal;font-weight:normal;text-decoration:none;font-size:10pt;}.s8{color:black;font-family:"Times New Roman",serif;font-style:normal;font-weight:normal;text-decoration:none;font-size:12pt;}.s9{color:black;font-family:"Times New Roman",serif;font-style:normal;font-weight:bold;text-decoration:none;font-size:12pt;}.s10{color:black;font-family:"Times New Roman",serif;font-style:normal;font-weight:normal;text-decoration:none;font-size:12pt;}.s11{color:black;font-family:"Times New Roman",serif;font-style:italic;font-weight:normal;text-decoration:none;font-size:12pt;}.s13{color:black;font-family:"Times New Roman",serif;font-style:normal;font-weight:normal;text-decoration:none;font-size:10pt;}.s14{color:black;font-family:"Times New Roman",serif;font-style:normal;font-weight:normal;text-decoration:underline;font-size:10pt;}.s15{color:black;font-family:"Times New Roman",serif;font-style:normal;font-weight:normal;text-decoration:none;font-size:11pt;}li{display:block;}#l1{padding-left:0pt;counter-reset:c1 1;}#l1>li>*:first-child:before{counter-increment:c1;content:counter(c1,lower-roman)". ";color:black;font-family:"Times New Roman",serif;font-style:normal;font-weight:bold;text-decoration:none;font-size:11pt;}#l1>li:first-child>*:first-child:before{counter-increment:c1 0;}li{display:block;}#l2{padding-left:0pt;counter-reset:d1 1;}#l2>li>*:first-child:before{counter-increment:d1;content:counter(d1,lower-roman)". ";color:black;font-family:"Times New Roman",serif;font-style:normal;font-weight:bold;text-decoration:none;font-size:11pt;}#l2>li:first-child>*:first-child:before{counter-increment:d1 0;}li{display:block;}#l3{padding-left:0pt;counter-reset:e1 1;}#l3>li>*:first-child:before{counter-increment:e1;content:counter(e1,decimal)". ";color:black;font-family:"Times New Roman",serif;font-style:normal;font-weight:normal;text-decoration:none;font-size:12pt;}#l3>li:first-child>*:first-child:before{counter-increment:e1 0;}table,tbody{vertical-align:top;overflow:visible;} @@media print {.hide-print {display: none !important;}}</style>';
            var innerContents = document.getElementById(divId).innerHTML;
            var popupWinindow = window.open('', '_blank', 'width=600,height=700,scrollbars=no,menubar=no,toolbar=no,location=no,status=no,titlebar=no');
            popupWinindow.document.open();
            popupWinindow.document.write('<html><head><link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">' + css + '</ head > <body style="padding: 0 5% 0 5%;"onload="window.print()">' + innerContents + '</html>');
            popupWinindow.document.close();
        };
        //Initialize
        $scope.loadCustomers();
        // $scope.loadDocs();
    });
</script>
</html>
