<html lang="en" ng-app="Stock-CMS">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>AFFIDAVIT Deceased holder</title>
    <style type="text/css">
        * {
          margin: 0;
          padding: 0;
          text-indent: 0;
        }
        h1 {
          color: black;
          font-family: "Times New Roman", serif;
          font-style: normal;
          font-weight: bold;
          text-decoration: none;
          font-size: 12pt;
        }
        .p,
        p {
          color: black;
          font-family: Calibri, sans-serif;
          font-style: normal;
          font-weight: normal;
          text-decoration: none;
          font-size: 12pt;
          margin: 0pt;
        }
        .s1 {
          color: black;
          font-family: Calibri, sans-serif;
          font-style: italic;
          font-weight: normal;
          text-decoration: none;
          font-size: 12pt;
        }
        .s2 {
          color: black;
          font-family: Arial, sans-serif;
          font-style: italic;
          font-weight: normal;
          text-decoration: none;
          font-size: 12pt;
        }
        .s4 {
          color: black;
          font-family: "Times New Roman", serif;
          font-style: normal;
          font-weight: normal;
          text-decoration: underline;
          font-size: 12pt;
        }
        li {
          display: block;
        }
        #l1 {
          padding-left: 0pt;
          counter-reset: c1 1;
        }
        #l1 > li > *:first-child:before {
          counter-increment: c1;
          content: counter(c1, decimal) ". ";
          color: black;
          font-family: Calibri, sans-serif;
          font-style: normal;
          font-weight: normal;
          text-decoration: none;
          font-size: 12pt;
        }
        #l1 > li:first-child > *:first-child:before {
          counter-increment: c1 0;
        }
    </style>
</head>
<body style="padding-left: 15%;" ng-controller="FormController">
    <div ng-if="hDiv">
        <form name="gForm" ng-submit="genrateForm()">
            <div class="row">
                @* <div class="col-md-4"> *@
                <div class="form-group mb-3">
                    <label for="seletedid" class="form-label">select customer</label>
                    <select class="form-select w-auto" ng-options="f.id as f.name for f in docs" ng-model="seletedid" ng-change="loadCustomers(seletedid)">
                        <option selected disabled value="">Select customer</option>
                    </select>
                </div>
                    <div class="form-group mb-3 col-md-3">
                        <label for="place" class="form-label">Place</label>
                        <input type="text" ng-model="data.place" class="form-control search-orders" placeholder="Place of Form Submition">
                    </div>
                <div class="form-group mb-3 col-md-3">
                    <label for="placeofdeath" class="form-label">Place of Demise</label>
                    <input type="text" ng-model="data.placeofdeath" class="form-control search-orders" placeholder="Place of Demise">
                </div>
                <div class="form-group mb-3 col-md-3">
                    <label for="deceasedholdername" class="form-label">Deceased Holder's Name</label>
                    <input type="text" ng-model="data.deceasedholdername" class="form-control search-orders" placeholder="Deceased Holder's Name">
                </div>
                <div class="form-group mb-3 col-md-3">
                    <label for="magistrateornotaryname" class="form-label"> Name of Magistrate/ Notary </label>
                    <input type="text" ng-model="data.magistrateornotaryname" class="form-control search-orders" placeholder="Name of Magistrate/ Notary">
                </div>
                <div class="form-group mb-3 col-md-3">
                    <label for="magistrateornotaryaddress" class="form-label"> Address of Magistrate/ Notary </label>
                    <textarea id="magistrateornotaryaddress" ng-model="data.magistrateornotaryaddress" class="form-control" placeholder="Address of Magistrate/ Notary"></textarea>
                </div>
                <div class="form-group mb-3 col-md-3">
                    <label for="registrationNo" class="form-label"> Registration No </label>
                    <input type="text" ng-model="data.registrationNo" class="form-control search-orders" placeholder="Registration No">
                </div>
                <div class="form-group mb-3 col-md-3">
                    <label for="bookNo" class="form-label"> Book No </label>
                    <input type="text" ng-model="data.bookNo" class="form-control search-orders" placeholder="Book No">
                </div>
                <div class="form-group mb-3 col-md-3">
                    <label for="serialNo" class="form-label"> Serial No </label>
                    <input type="text" ng-model="data.serialNo" class="form-control search-orders" placeholder="Serial No">
                </div>
                
                @* </div> *@
                <div class="text-center m-2 col-md-4">
                    <button type="submit" class="btn" style="background-color:#003980; color:white;">
                        Genrate Form
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div id="printForm">
    <h1 style="
        padding-top: 3pt;
        padding-left: 37pt;
        text-indent: 0pt;
        text-align: center;
      ">
        AFFIDAVIT
    </h1>
    <p class="s1"
       style="
        padding-top: 1pt;
        padding-left: 37pt;
        text-indent: 0pt;
        line-height: 108%;
        text-align: center;
      ">
        <span class="p">[</span>to be executed on Non-Judicial Stamp Paper of
        <span class="s2">₹ </span>100/- or affix Special Adhesive Stamps/franked
        with equivalent amount and notarised]
    </p>
    <p style="
        padding-top: 13pt;
        padding-left: 5pt;
        text-indent: 0pt;
        line-height: 108%;
        text-align: justify;
      ">
            I <u>{{data.customerName}}</u> (name of legal heir),{{data.relationship}} <u>{{data.sonof}}</u> (name of deceased holder as
        appearing on the share certificate), aged about <u>{{data.age}}</u> years, and
        residing at
            <u>{{data.address}}</u>, do hereby solemnly affirm and declare as under:
    </p>
   
    <ol id="l1">
        <li data-list-text="1.">
            <p style="
            padding-top: 9pt;
            padding-left: 41pt;
            text-indent: -18pt;
            line-height: 108%;
            text-align: justify;
          ">
                    I am the son/daughter in law /wife of <u>{{data.sonof}}</u> (name of
                deceased holder as appearing on the share certificate) and I am fully
                aware of the facts and circumstances.
            </p>
        </li>
        <li data-list-text="2.">
            <p style="
            padding-left: 41pt;
            text-indent: -18pt;
            line-height: 15pt;
            text-align: justify;
          ">
                In the records of
                    <u>{{data.officename}}</u> (name of the Company), the name of the first/joint holder recorded is
                    <u>{{data.sonof}}</u> (as appearing on the share certificate). In the
                    death certificate issued by the Corporation of <u>{{data.placeofdeath}}</u> (name
                    of city/place) the name has been recorded as 
                    @* <u>{{JAYA}}</u> *@
                    <u>{{data.deceasedholdername}}</u> (as appearing on the death certificate).
            </p>
@*             <p style="
            padding-top: 1pt;
            padding-left: 41pt;
            text-indent: 0pt;
            line-height: 108%;
            text-align: justify;
          ">
               
            </p> *@
        </li>
        <li data-list-text="3.">
            <p style="
            padding-left: 41pt;
            text-indent: -18pt;
            line-height: 108%;
            text-align: justify;
          ">
                    I state that <u>{{data.sonof}}</u> (as appearing on the share
                    certificate) was also known as <u>{{data.deceasedholdername}}</u> (name as
                appearing on the death certificate) and that both names belong to one
                and the same person.
            </p>
        </li>
        <li data-list-text="4.">
            <p style="
            padding-left: 41pt;
            text-indent: -18pt;
            line-height: 15pt;
            text-align: justify;
          ">
                This Affidavit is executed in favour of the Company/its agent on
                my/our own volition.
            </p>
        </li>
    </ol>
    <p style="
        padding-top: 9pt;
        padding-left: 55pt;
        text-indent: 0pt;
        text-align: center;
      ">
        Verification
    </p>
    <p style="
        padding-top: 1pt;
        padding-left: 23pt;
        text-indent: 0pt;
        line-height: 108%;
        text-align: justify;
      ">
        I solemnly affirm that the statement contained in the above paragraphs are
        true to the best of my knowledge, information and belief and that nothing
        material has been concealed from being disclosed.
    </p>
    <p style="
        padding-left: 23pt;
        text-indent: 0pt;
        line-height: 15pt;
        text-align: justify;
      ">
        Solemnly declared and affirmed on Identification at
        <span class="s4">{{data.place}}</span> on this
            <span class="s4">{{data.day}}  </span>day of<span class="s4"> {{data.month}}</span>, <span class="s4">
                {{data.year}}
            </span>
    </p>

    <p style="text-indent: 0pt; text-align: left"><br /></p>
    <p style="text-indent: 0pt; text-align: right">Signature of legal heir</p>
    <p style="text-indent: 0pt; text-align: left"><br /></p>
    <p style="text-indent: 0pt; text-align: left" />
    <p style="padding-left: 301pt; text-indent: 0pt; text-align: left">
        Signature of Magistrate/Notary
    </p>
    <p style="text-indent: 0pt; text-align: left"><br /></p>
    <p style="
        padding-left: 5pt;
        text-indent: 0pt;
        line-height: 1pt;
        text-align: left;
      " />
    <p style="
        padding-top: 1pt;
        padding-left: 5pt;
        text-indent: 0pt;
        line-height: 108%;
        text-align: left;
      ">
            {{data.magistrateornotaryname}}<br />
            {{data.magistrateornotaryaddress}}<br />
        [Name and full address of Magistrate/ Notary]
    </p>
    <p style="text-indent: 0pt; text-align: left"><br /></p>
    <p style="padding-left: 5pt; text-indent: 0pt; text-align: left">
        Registration No.
            <span class="s4">{{data.registrationNo}}</span>
    </p>
    <p style="
        padding-top: 1pt;
        padding-left: 5pt;
        text-indent: 0pt;
        text-align: left;
      ">
        Notary Register at Book No.
            <span class="s4">{{data.bookNo}} </span>Serial No.
            <span class="s4">{{data.serialNo}}</span>
    </p>
    <p style="padding-left:10%;padding-top: 4pt; text-indent: 0pt; text-align: left"><br /></p>
    <div class="row" style="display: flex;">
        <div class="textbox"
             style="border: 1pt solid #000000; min-height: 45pt; width: 226pt; margin-right: 5px;">
            <p style="padding-left: 5pt; text-align: left">
                <span style="color: black; font-family: Calibri, sans-serif; font-size: 12pt;">
                    Official Seal of Magistrate / Notary
                </span>
            </p>
        </div>
        <div class="textbox"
             style="border: 1pt solid #000000; min-height: 45pt; width: 225pt;">
            <p style="padding-left: 4pt; text-align: left">
                <span style="color: black; font-family: Calibri, sans-serif; font-size: 12pt;">
                    Notarial / Court Fee Stamps
                </span>
            </p>
        </div>
    </div>
        <p style="padding-left: 5pt; text-indent: 0pt; text-align: left" />
    </div>
    <button class="btn btn-store" ng-click="printDiv('printForm')">Print</button>
</body>
<script>
    angular.module('Stock-CMS', []).controller('FormController', function ($scope, $http) {
        $scope.customers = [];
        $scope.data = undefined;
            $scope.hDiv = true;
            var params = new URLSearchParams(window.location.search);
            var id = params.get('id');
            var id2 = params.get('id2');
        var isProcessing = false;

        // showLoader();

        // Load Customers
        // $scope.loadCustomers = function () {
        //     $http.get('/Master/GetCustomers').then(function (response) {
        //         $scope.customers = response.data[0];
        //         hideLoader();
        //     }, function (error) {
        //         console.error('Error loading customers:', error);
        //         hideLoader();
        //     });
        // };


        // Load Customers
         $scope.loadCustomers = function (sid) {


             if(id){
                 var currentDate = new Date();
                var monthsOfYear = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
                 $scope.hDiv = true;
                $http.get('/Enquiry/GetStocksById/'+id).then(function (response) {
                var result = response.data;
                $http.get('/doc/getDocs/' +  result.customer.id).then(function (response) {
                     $scope.docs = response.data;
                    var doc = $scope.docs.find(x => x.id === sid);
                    var Age = $scope.calculateAge(doc.dob);
                    $scope.data = {
                       customerName : doc.name,
                       age : Age,
                       relationship: doc.relationship,
                       sonof: doc.relativesName,
                       deceasedholdername: '',
                       address : doc.addressAsPerAadhar,
                       officename : result.companyName,
                       placeofdeath: '',
                       place:'',
                       day: currentDate.getDate(),
                       month: monthsOfYear[currentDate.getMonth()],
                       year: currentDate.getFullYear(),
                       magistrateornotaryname: '',
                       magistrateornotaryaddress: '',
                       registrationNo:'',
                       bookNo:'',
                       serialNo:'',
                    };

                    hideLoader();
                 }, function (error) {
                    console.error('Error loading Docs:', error);
                    hideLoader();
                });
            }, function (error) {
                console.error('Error loading customers:', error);
                hideLoader();
            });
            }

            if(id2){
                 $scope.hDiv = false;
            $http.get('/Form/GetGenratedFormById/'+id2).then(function (response) {
                var result = response.data;
                var obj = JSON.parse(result.jsonString);
                $scope.data = {
                    customerName: obj.customerName,
                    age:obj.age,
                    relationship: obj.relationship,
                    sonof:obj.sonof,
                    deceasedholdername: obj.deceasedholdername,
                    address:obj.address,
                    officename: obj.officename,
                    placeofdeath: obj.placeofdeath,
                    place: obj.place,
                    day:obj.day,
                    month:obj.month,
                    year: obj.year,
                    magistrateornotaryname: obj.magistrateornotaryname,
                    magistrateornotaryaddress: obj.magistrateornotaryaddress,
                    registrationNo: obj.registrationNo,
                    bookNo: obj.bookNo,
                    serialNo: obj.serialNo,
                };
                hideLoader();
            }, function (error) {
                console.error('Error loading customers:', error);
                hideLoader();
            });
            }
        };

        $scope.calculateAge = function(dob) {
      if (!dob) {
        return '';
      }
      var birthDate = new Date(dob);
      var currentDate = new Date();
      var age = currentDate.getFullYear() - birthDate.getFullYear();
      var m = currentDate.getMonth() - birthDate.getMonth();

      // Adjust age if the current month is before the birth month or if the birth day hasn't occurred yet
      if (m < 0 || (m === 0 && currentDate.getDate() < birthDate.getDate())) {
        age--;
      }
      return age;
    };

        //Genrate Form
         $scope.genrateForm = function () {
             if(id){
             let jsonString = JSON.stringify($scope.data, null, 2);
             var data ={
                 formName : 'AFFIDAVIT Deceased Holder',
                 StockId : id,
                 url : `/Form/AFFIDAVITDeceasedHolder?id2=`,
                 jsonString : jsonString,
                                  ClientName: $scope.data.customerName,
                 IsActive : true
             }

             const url = '/Form/GenrateForm';
                $http.post(url, data).then(function (response) {
                    if (response.data.success) {
                        Swal.fire({
                            title: 'Success',
                            text: response.data.message || 'Operation successful!',
                            icon: 'success',
                            confirmButtonText: 'OK'
                        });
                        // $scope.loadCustomers();
                                                window.open(response.data.data.url + response.data.data.id,'_self')

                    } else {
                        Swal.fire({
                            title: 'Error!',
                            text: response.data.message || 'There was an issue adding the customer.',
                            icon: 'error',
                            confirmButtonText: 'Try Again'
                        });
                    }
                    isProcessing = false;
                }, function (error) {
                    Swal.fire({
                        title: 'Error',
                        text: 'An error occurred.',
                        icon: 'error',
                        confirmButtonText: 'OK'
                    });
                    isProcessing = false;
                });
            //console.log(dataString);
            }
         }

        // $scope.loadDocs = function () {
        //     if (true) {
        //         $http.get('/doc/getDocs/' + 1).then(function (response) {
        //             $scope.docs = response.data;
        //             hideLoader();
        //         }, function (error) {
        //             console.error('Error loading Docs:', error);
        //             hideLoader();
        //         });
        //     }
        // };

        //Function
        $scope.printDiv = function (divId) {
            var innerContents = document.getElementById(divId).innerHTML;
            var popupWinindow = window.open('', '_blank', 'width=600,height=700,scrollbars=no,menubar=no,toolbar=no,location=no,status=no,titlebar=no');
            popupWinindow.document.open();
            popupWinindow.document.write('<html><head><link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"><style type="text/css">* {margin: 0; padding: 0; text-indent: 0;} h1 {color: black; font-family: "Times New Roman", serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 12pt;} .p, p {color: black; font-family: Calibri, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 12pt; margin: 0pt;} .s1 {color: black; font-family: Calibri, sans-serif; font-style: italic; font-weight: normal; text-decoration: none; font-size: 12pt;} .s2 {color: black; font-family: Arial, sans-serif; font-style: italic; font-weight: normal; text-decoration: none; font-size: 12pt;} .s4 {color: black; font-family: "Times New Roman", serif; font-style: normal; font-weight: normal; text-decoration: underline; font-size: 12pt;} li {display: block;} #l1 {padding-left: 0pt; counter-reset: c1 1;} #l1 > li > *:first-child:before {counter-increment: c1; content: counter(c1, decimal) ". "; color: black; font-family: Calibri, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 12pt;} #l1 > li:first-child > *:first-child:before {counter-increment: c1 0;}</style></ head > <body style="padding-left: 8%;" onload="window.print()">' + innerContents + '</html>');
            popupWinindow.document.close();
        };
        //Initialize
        $scope.loadCustomers(null);
        // $scope.loadDocs();
    });
</script>
</html>
