<html lang="en" ng-app="Stock-CMS">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Req Letter - IEPF Entitlement</title>
    <style type="text/css">
        * {
            margin: 0;
            padding: 0;
            text-indent: 0;
        }

        h1 {
            color: black;
            font-family: Calibri, sans-serif;
            font-style: normal;
            font-weight: bold;
            text-decoration: none;
            font-size: 18pt;
        }

        .s1 {
            color: black;
            font-family: Calibri, sans-serif;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            font-size: 14pt;
        }

        .s2 {
            color: black;
            font-family: Calibri, sans-serif;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            font-size: 11pt;
        }

        .s3 {
            color: black;
            font-family: Calibri, sans-serif;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            font-size: 12pt;
        }

        h3 {
            color: black;
            font-family: Calibri, sans-serif;
            font-style: normal;
            font-weight: bold;
            text-decoration: none;
            font-size: 11pt;
        }

        .h2 {
            color: black;
            font-family: Calibri, sans-serif;
            font-style: normal;
            font-weight: bold;
            text-decoration: none;
            font-size: 12pt;
        }

        .s4 {
            color: black;
            font-family: Calibri, sans-serif;
            font-style: normal;
            font-weight: bold;
            text-decoration: underline;
            font-size: 11pt;
        }

        .s5 {
            color: black;
            font-family: "Times New Roman", serif;
            font-style: normal;
            font-weight: bold;
            text-decoration: underline;
            font-size: 11pt;
        }

        .s6 {
            color: black;
            font-family: Arial, sans-serif;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            font-size: 10pt;
        }

        .s7 {
            color: black;
            font-family: "Times New Roman", serif;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            font-size: 11pt;
        }

        p {
            color: black;
            font-family: "Times New Roman", serif;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            font-size: 11pt;
            margin: 0pt;
        }

        table,
        tbody {
            vertical-align: top;
            overflow: visible;
        }
    </style>
</head>
<body style="padding: 5% 5% 0 5% ;" ng-controller="FormController">
    <div class="row align-items-center">
        <!-- Arrow Icon aligned to the left -->
        <a class="col-md-1 text-start" style="font-size:35px;" ng-click="navtogenerateform()">
            <i class="bi bi-arrow-left"></i>
        </a>

        <!-- Centered Heading -->
        <div class="col-md-10 text-center">
            <h3>Req Letter - IEPF Entitlement</h3>
        </div>
    </div>
    <div ng-if="hDiv">
        <form name="gForm" ng-submit="genrateForm()">
            <div class="row">
                <div class="form-group mb-3">
                    <label for="seletedid" class="form-label">select customer</label>
                    <select class="form-select w-auto" ng-options="f.id as f.name for f in doc" ng-model="seletedid" ng-change="loadCustomers(seletedid)">
                        <option selected disabled value="">Select customer</option>
                    </select>
                </div>
                <div class="text-center m-2 col-md-4">
                    <button type="submit" class="btn" style="background-color:#003980; color:white;">
                        Genrate Form
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div id="printForm">
        <h1 style="padding: 0 350px 0px 5px; text-indent: 0pt; text-align: left">
            {{data.customerName}} {{data.holders}}
        </h1>
        <p class="s1"
           style="
        text-indent: 0pt;
        line-height: 114%;
        text-align: left;
        padding: 0 400px 0 5px;
      ">
            {{data.address}}
        </p>
        <p class="s1"
           style="
      padding-left: 5pt;
      text-indent: 0pt;
      line-height: 114%;
      text-align: left;
    ">
            M: {{data.mobile}}
        </p>
        <p style="text-indent: 0pt; text-align: left"><br /></p>
        <p style="
        padding-left: 5pt;
        text-indent: 0pt;
        line-height: 1pt;
        text-align: left;
      " />
        <hr style="border: none; height: 2px; background-color: black;">
        <div style="display: flex; justify-content: space-between;padding:6px 0 6px 0px;">
            <p style="padding-top: 1pt; padding-left: 5pt; text-indent: 0pt; text-align: left;">
                To,
            </p>
            <p style="padding-top: 1pt; padding-left: 5pt; text-indent: 0pt; text-align: right;">
                Date:{{data.today | date:'dd-MM-yyyy'}}
            </p>
        </div>
        <p class="s3" style="padding-left: 5pt; text-indent: 0pt; text-align: left">
            {{data.officename}}
        </p>
        <p class="s3" style="padding: 0 300px 0 5px; text-indent: 0pt; text-align: left">
            {{data.officeaddress}}
        </p>

        <h3 style="
        padding-top: 13pt;
        padding-left: 5pt;
        text-indent: 0pt;
        text-align: left;
      ">
            (Unit: <span class="h2">{{data.officename}}</span>)
        </h3>
        <h3 style="padding-left: 5pt; text-indent: 0pt; text-align: left">
            (Folio No: <span class="h2">{{data.folioNo}}</span>)
        </h3>
        <p class="s4"
           style="padding-top: 11pt; text-indent: 0pt; text-align: center">
            Sub.: Request for Issue of Entitlement Letter for IEPF Claim
        </p>
        <h3 style="
        padding-top: 10pt;
        padding-left: 5pt;
        text-indent: 0pt;
        text-align: left;
      ">
            Dear Sir / Madam,
        </h3>
        <p class="s2"
           style="
        padding-top: 10pt;
        padding-left: 5pt;
        text-indent: 0pt;
        text-align: justify;
      ">
            With reference to the above captioned subject and as discussed with your
            undersigned, I,
            <b>{{data.customerName}} &amp;  {{data.holders}} </b>would like
            to bring into your kind attention that I am the share holder
        </p>
        <p style="text-indent: 0pt; text-align: left"><br /></p>
        <table style="border-collapse: collapse; margin-left: 9.5pt"
               cellspacing="0">
            <tr style="height: 25pt">
                <td style="
            width: 203pt;
            border-top-style: solid;
            border-top-width: 1pt;
            border-left-style: solid;
            border-left-width: 1pt;
            border-bottom-style: solid;
            border-bottom-width: 1pt;
            border-right-style: solid;
            border-right-width: 1pt;
          ">
                    <p class="s5"
                       style="padding-left: 5pt; text-indent: 0pt; text-align: left">
                        Name of the Share Holder
                    </p>
                </td>
                <td style="
            width: 135pt;
            border-top-style: solid;
            border-top-width: 1pt;
            border-left-style: solid;
            border-left-width: 1pt;
            border-bottom-style: solid;
            border-bottom-width: 1pt;
            border-right-style: solid;
            border-right-width: 1pt;
          ">
                    <p class="s5" style="text-indent: 0pt; text-align: center">
                        Folio No.
                    </p>
                </td>
                <td style="
            width: 116pt;
            border-top-style: solid;
            border-top-width: 1pt;
            border-left-style: solid;
            border-left-width: 1pt;
            border-bottom-style: solid;
            border-bottom-width: 1pt;
            border-right-style: solid;
            border-right-width: 1pt;
          ">
                    <p class="s5" style="text-indent: 0pt; text-align: center">Shares</p>
                </td>
            </tr>
            <tr style="height: 24pt">
                <td style="
            width: 203pt;
            border-top-style: solid;
            border-top-width: 1pt;
            border-left-style: solid;
            border-left-width: 1pt;
            border-bottom-style: solid;
            border-bottom-width: 1pt;
            border-right-style: solid;
            border-right-width: 1pt;
          ">
                    <p class="s6"
                       style="
              padding-left: 5pt;
              text-indent: 0pt;
              line-height: 11pt;
              text-align: left;
            ">
                        {{data.customerName}} {{data.holders}}
                    </p>

                </td>
                <td style="
            width: 135pt;
            border-top-style: solid;
            border-top-width: 1pt;
            border-left-style: solid;
            border-left-width: 1pt;
            border-bottom-style: solid;
            border-bottom-width: 1pt;
            border-right-style: solid;
            border-right-width: 1pt;
          ">
                    <p class="s7"
                       style="text-indent: 0pt; line-height: 12pt; text-align: center">
                        {{data.folioNo}}
                    </p>
                </td>
                <td style="
            width: 116pt;
            border-top-style: solid;
            border-top-width: 1pt;
            border-left-style: solid;
            border-left-width: 1pt;
            border-bottom-style: solid;
            border-bottom-width: 1pt;
            border-right-style: solid;
            border-right-width: 1pt;
          ">
                    <p class="s7"
                       style="text-indent: 0pt; line-height: 12pt; text-align: center">
                        {{data.qty}}
                    </p>
                </td>
            </tr>
        </table>
        <p style="padding-top: 11pt; text-indent: 0pt; text-align: left"><br /></p>
        <p style="padding-left: 5pt; text-indent: 0pt; text-align: justify">
            in the subject matter, I request you to please provide me complete share
            holdings under the abovementioned folio till date and provide me the
            procedure for the issue of IEPF claim &amp; Entitlement letter and the
            procedure to claim all the unpaid dividend if any. Also, I request you to
            kindly register my above mentioned address in your records so that I
            cannot miss any communication from the company in future.
        </p>
        <p style="text-indent: 0pt; text-align: left"><br /></p>
        <p class="s2" style="padding-left: 5pt; text-indent: 0pt; text-align: left">
            Thanking you.
        </p>
        <h3 style="padding-left: 5pt; text-indent: 0pt; text-align: left">
            Regards,
        </h3>
        <p style="text-indent: 0pt; text-align: left"><br /></p>
        <br>
        <br>
        <br>
        <br>
        <h3 style="padding-left: 5pt; text-indent: 0pt; text-align: justify; display: flex; justify-content: space-between">
            <p>{{data.customerName}}</p> <p>{{data.holders}}</p>
            @* MINAXI DILIPKUMAR MEHTA &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; DILIPKUMAR RASIKLAL MEHTA *@
        </h3>
    </div>
    <button class="btn btn-store" ng-click="printDiv('printForm')">Print</button>
</body>
<script>
    angular.module('Stock-CMS', []).controller('FormController', function ($scope, $http,$timeout) {
        $scope.customers = [];
           $scope.hDiv = true;
            var params = new URLSearchParams(window.location.search);
            var id = params.get('id');
            var id2 = params.get('id2');
        var isProcessing = false;

        // showLoader();

                 // Load Customers
             $scope.loadCustomers = function (sid) {
                    if(id){
                     var currentDate = new Date();
                 var monthsOfYear = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
                     $scope.hDiv = true;
                $http.get('/Enquiry/GetStocksById/'+id).then(function (response) {
                    var result = response.data;
                     let holders = [
                            result.firstHolder || '',
                            result.secondHolder || '',
                            result.thirdHolder || ''
                        ].filter(holder => holder.trim() !== '');
                     $http.get('/doc/getDocs/' + result.customer.id).then(function (response) {
                        $scope.doc = response.data;
                        var docs = $scope.doc.find(x => x.id === sid);


                    $scope.data = {
                        customerName : docs.name,
                           address : docs.addressAsPerAadhar,
                           mobile: docs.mobile,
                               qty : result.qty,
                           folioNo : result.folioNo,
                           today: new Date(),
                           officename: result.companyName,
                           officeaddress: 'C 101, 247 Park, L.B.S. Marg, Vikhroli (West), Mumbai, Maharashtra, 400083',
                          holders : holders.length > 0 ? `${holders.join(' ')}` : '',

                    };

                    hideLoader();
                    }, function (error) {
                        console.error('Error loading Docs:', error);
                        hideLoader();
                    });
                }, function (error) {
                    console.error('Error loading customers:', error);
                    hideLoader();
                });
                }

                if(id2){
                     $scope.hDiv = false;
                $http.get('/Form/GetGenratedFormById/'+id2).then(function (response) {
                    var result = response.data;
                    var obj = JSON.parse(result.jsonString);
                    $scope.data = {
                        customerName: obj.customerName,
                        address: obj.address,
                        mobile: obj.mobile,
                        qty : obj.qty,
                        folioNo : obj.folioNo,
                        holders: obj.holders,
                        officename: obj.officename,
                            officeaddress: obj.officeaddress,
                    };
                                    id = result.stockId;

                    checkData();
                    hideLoader();
                }, function (error) {
                    console.error('Error loading customers:', error);
                    hideLoader();
                });
                }
            };

                            function checkData() {
            if ($scope.data !== undefined) {
                // Delay the printDiv execution until the next digest cycle
                $timeout(function() {
                    $scope.printDiv('printForm');
                }, 0);  // 0 delay to ensure it runs after the view update
            } else {
                setTimeout(checkData, 1000); // Retry after 1000ms if data is not yet available
            }
        }

            $scope.navtogenerateform = function () {
        window.open('/Form/GenerateForm/'+id, '_self');
    };

            //Genrate Form
             $scope.genrateForm = function () {
                 if(id){
                 let jsonString = JSON.stringify($scope.data, null, 2);
                 var data ={
                         formName :'Req Letter IEPF Entitlement',
                     StockId : id,
                         url : `/Form/ReqLetterIEPFEntitlement?id2=`,
                     jsonString : jsonString,
                     ClientName: $scope.data.customerName,
                     IsActive : true
                 }

                 const url = '/Form/GenrateForm';
                    $http.post(url, data).then(function (response) {
                        if (response.data.success) {
                            Swal.fire({
                                title: 'Success',
                                text: response.data.message || 'Operation successful!',
                                icon: 'success',
                                confirmButtonText: 'OK'
                            });
                            // $scope.loadCustomers();
                            window.open(response.data.data.url + response.data.data.id,'_self')
                        } else {
                            Swal.fire({
                                title: 'Error!',
                                text: response.data.message || 'There was an issue adding the customer.',
                                icon: 'error',
                                confirmButtonText: 'Try Again'
                            });
                        }
                        isProcessing = false;
                    }, function (error) {
                        Swal.fire({
                            title: 'Error',
                            text: 'An error occurred.',
                            icon: 'error',
                            confirmButtonText: 'OK'
                        });
                        isProcessing = false;
                    });
                //console.log(dataString);
                }
             }

        // Load Customers
        // $scope.loadCustomers = function () {
        //     $http.get('/Master/GetCustomers').then(function (response) {
        //         $scope.customers = response.data[0];
        //         hideLoader();
        //     }, function (error) {
        //         console.error('Error loading customers:', error);
        //         hideLoader();
        //     });
        // };

        // $scope.loadDocs = function () {
        //     if (true) {
        //         $http.get('/doc/getDocs/' + 1).then(function (response) {
        //             $scope.docs = response.data;
        //             hideLoader();
        //         }, function (error) {
        //             console.error('Error loading Docs:', error);
        //             hideLoader();
        //         });
        //     }
        // };

        //Function
        $scope.printDiv = function (divId) {
                var css ='<style type="text/css">* { margin: 0; padding: 0; text-indent: 0; } h1 { color: black; font-family: Calibri, sans-serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 18pt; } .s1 { color: black; font-family: Calibri, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 14pt; } .s2 { color: black; font-family: Calibri, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 11pt; } .s3 { color: black; font-family: Calibri, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 12pt; } h3 { color: black; font-family: Calibri, sans-serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 11pt; } .h2 { color: black; font-family: Calibri, sans-serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 12pt; } .s4 { color: black; font-family: Calibri, sans-serif; font-style: normal; font-weight: bold; text-decoration: underline; font-size: 11pt; } .s5 { color: black; font-family: "Times New Roman", serif; font-style: normal; font-weight: bold; text-decoration: underline; font-size: 11pt; } .s6 { color: black; font-family: Arial, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 10pt; } .s7 { color: black; font-family: "Times New Roman", serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 11pt; } p { color: black; font-family: "Times New Roman", serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 11pt; margin: 0pt; } table, tbody { vertical-align: top; overflow: visible; }</style>';
            var innerContents = document.getElementById(divId).innerHTML;
            var popupWinindow = window.open('', '_blank', 'width=600,height=700,scrollbars=no,menubar=no,toolbar=no,location=no,status=no,titlebar=no');
            popupWinindow.document.open();
            popupWinindow.document.write('<html><head><link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">' + css + '</ head > <body style="padding: 0 5% 0 5% ;"onload="window.print()">' + innerContents + '</html>');
            popupWinindow.document.close();
        };
        //Initialize
        $scope.loadCustomers();
        // $scope.loadDocs();
    });
</script>
</html>
