<html lang="en" ng-app="Stock-CMS">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Req Letter - Transmission</title>
    <style type="text/css">
      * {
        margin: 0;
        padding: 0;
        text-indent: 0;
      }
      h1 {
        color: black;
        font-family: Calibri, sans-serif;
        font-style: normal;
        font-weight: bold;
        text-decoration: none;
        font-size: 22pt;
      }
      .h2,
      h2 {
        color: black;
        font-family: Calibri, sans-serif;
        font-style: normal;
        font-weight: bold;
        text-decoration: none;
        font-size: 12pt;
      }
      .s1 {
        color: black;
        font-family: Calibri, sans-serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 16pt;
      }
      .s2 {
        color: black;
        font-family: Calibri, sans-serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 11pt;
      }
      .s3 {
        color: black;
        font-family: Calibri, sans-serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: underline;
        font-size: 11pt;
      }
      .s4 {
        color: black;
        font-family: Arial, sans-serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 11pt;
      }
      .s5 {
        color: black;
        font-family: Calibri, sans-serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 14pt;
      }
      .s6 {
        color: black;
        font-family: Calibri, sans-serif;
        font-style: normal;
        font-weight: bold;
        text-decoration: none;
        font-size: 11pt;
      }
      .s7 {
        color: black;
        font-family: Calibri, sans-serif;
        font-style: normal;
        font-weight: bold;
        text-decoration: none;
        font-size: 12pt;
      }
      h3 {
        color: black;
        font-family: Calibri, sans-serif;
        font-style: normal;
        font-weight: bold;
        text-decoration: underline;
        font-size: 11pt;
      }
      p {
        color: black;
        font-family: Calibri, sans-serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 11pt;
        margin: 0pt;
      }
      .s8 {
        color: black;
        font-family: Calibri, sans-serif;
        font-style: normal;
        font-weight: bold;
        text-decoration: none;
        font-size: 12pt;
      }
      .s9 {
        color: black;
        font-family: Calibri, sans-serif;
        font-style: normal;
        font-weight: bold;
        text-decoration: underline;
        font-size: 12pt;
      }
      .s10 {
        color: black;
        font-family: Calibri, sans-serif;
        font-style: normal;
        font-weight: bold;
        text-decoration: underline;
        font-size: 11pt;
      }
      .s11 {
        color: black;
        font-family: Calibri, sans-serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 12pt;
      }
      .s12 {
        color: black;
        font-family: Calibri, sans-serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 12pt;
      }
      .s13 {
        color: black;
        font-family: Calibri, sans-serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 11pt;
      }
      table,
      tbody {
        vertical-align: top;
        overflow: visible;
      }



        .card {
            border-radius: 10px;
            overflow: hidden;
        }

        .form-group {
            margin-bottom: 1.5rem;
        }

        .form-label {
            font-size: 1.1rem;
            font-weight: 600;
        }

        .form-select {
            width: 100%;
            padding: 0.75rem;
            border-radius: 5px;
            border: 1px solid #ddd;
            font-size: 1rem;
        }

        .btn-primary {
            width: 100%;
            padding: 12px 16px;
            text-transform: uppercase;
            font-weight: bold;
            transition: background-color 0.3s ease, transform 0.2s ease;
        }

            .btn-primary:hover {
                background-color: #0056b3;
                transform: scale(1.05);
            }

        .mybtn {
            background-color: #51b37f !important;
            color: white !important;
            width: auto !important;
        }

        .myarea {
            justify-content: center !important;
            display: flex !important;
            margin-top: 25px !important;
        }
    </style>


  </head>
<body style="padding: 5% 8% 0 8% ;" ng-controller="FormController">
    <div class="row align-items-center">
        <!-- Arrow Icon aligned to the left -->
        <a class="col-md-1 text-start" style="font-size:35px;" ng-click="navtogenerateform()">
            <i class="bi bi-arrow-left"></i>
        </a>

        <!-- Centered Heading -->
        <div class="col-md-10 text-center">
            <h3>Req Letter - Transmission</h3>
        </div>
    </div>
    <div ng-if="hDiv" class="container my-5">
        <div class="card shadow-sm">
            <div class="card-body">
                <form name="gForm" ng-submit="genrateForm()">
                    <h4 class="card-title text-center mb-4" style="color:#51b37f;">Generate Form</h4>

                    <div class="row">
                        <!-- Select Customer Dropdown -->
                        <div class="col-md-4 mb-3">
                            <div class="form-group">
                                <label for="seletedId" class="form-label">Select Customer</label>
                                <select class="form-select" id="seletedId" ng-options="f.id as f.name for f in doc" ng-model="seletedId" ng-change="loadCustomers(seletedId, heirId)">
                                    <option selected disabled value="">Select customer</option>
                                </select>
                            </div>
                        </div>

                        <!-- Select Heir Dropdown -->
                        <div class="col-md-4 mb-3" ng-show="legalheirlist">
                            <div class="form-group">
                                <label for="heirId" class="form-label">Select Heir</label>
                                <select class="form-select" id="heirId" ng-options="g.id as g.name for g in heir" ng-model="heirId" ng-change="loadCustomers(seletedId, heirId)">
                                    <option selected disabled value="">Select Heir</option>
                                </select>
                            </div>
                        </div>
                    </div>

                        <!-- Submit Button -->
                        <div class="col-md-4 text-center mt-4">
                        <button type="submit" ng-disabled="processdone" class="btn btn-primary px-4" style="background-color:#51b37f; color:white; border-radius: 5px;">
                                Generate Form
                            </button>
                        </div>
                    
                </form>
            </div>
        </div>
    </div>
    <div id="printForm">
    <h1 style="padding-top: 3pt; text-indent: 0pt; text-align: center">
            <span  ng-show="!data.condition" ng-class="{'hide-print': data.condition}">
                {{data.firstHolder}},
                {{data.secondHolder}},
                {{data.thirdHolder}}
            </span><span  ng-show="data.condition" ng-class="{'hide-print': !data.condition}" ng-repeat="h in data.heirs">
                {{h}}
            </span>
    </h1>
    <h2 style="padding:0 150pt 0 150pt; text-indent: 0pt; text-align: center">
      @* 00, GEETA NAGAR SOCIETY, NEAR BHAGAT VADI, BODELI, DHOKALIYA, VADODARA, GUJARAT391135 *@ {{data.address}}
    </h2>

    <p
      class="s1"
      style="
        padding-top: 2pt;

        text-indent: 0pt;
        text-align: center;
      "
    >
      M. No.  {{data.mobile}}
    </p>
    <p style="text-indent: 0pt; text-align: left"><br /></p>
    <p
      style="
        padding-left: 5pt;
        text-indent: 0pt;
        line-height: 1pt;
        text-align: left;
      "
    />
    <hr style="border: none; height: 2px; background-color: black;">
    <div style="display: flex; justify-content: space-between;padding:6px 0 6px 0px;">
      <p style="padding-top: 1pt; padding-left: 5pt; text-indent: 0pt; text-align: left;">
        TO
      </p>
      <p style="padding-top: 1pt; padding-left: 5pt; text-indent: 0pt; text-align: right;">
        Date:{{data.today | date:'dd/MM/yyyy'}}
      </p>
    </div>
    <p
      class="s5"
      style="
        padding-top: 7pt;
        padding-left: 5pt;
        text-indent: 0pt;
        text-align: left;
      "
    >
            @* KFin Technologies Ltd, *@ {{data.officename}}
    </p>
    <p class="s5" style="padding: 0 340px 0 5px; text-indent: 0pt; text-align: left">
            @* Karvy Selenium Tower B, Plot 31-32, Gachibowli, Financial District, Nanakramguda, Hyderabad, Telangana, 500032 *@ {{data.officeaddress}}
    </p>

    <h3
    style="
      padding-top: 13pt;
      padding-left: 5pt;
      text-indent: 0pt;
      text-align: left;
      text-decoration:none;
    "
  >
            (Unit: <span class="h2">{{data.unit}}</span>)
  </h3>
  <h3 style="padding-left: 5pt; text-indent: 0pt; text-align: left;text-decoration:none;">
            (Folio No: <span class="h2">{{data.folioNo}}</span>)
  </h3>

    <h3 style="padding-top: 12pt; text-indent: 0pt; text-align: center">
      Sub.: Request for Issue of Transmission Procedure.
    </h3>
    <p
      class="s6"
      style="
        padding-top: 10pt;
        padding-left: 5pt;
        text-indent: 0pt;
        text-align: left;
      "
    >
      Dear Sir / Madam,
    </p>
    <p
      style="
        padding-top: 9pt;
        padding-left: 5pt;
        text-indent: 0pt;
        text-align: justify;
      "
    >
      With reference to the above captioned subject and as discussed with your
            undersigned, I, <span class="s8">{{data.customerName}} </span>would like to
      bring into your kind attention that I am the legal heir of the deceased
            share holder <span class="s9">{{data.deceasedname}}</span><span class="h2"> </span>who expired on
            <span class="h2">{{data.dateofdemise | date:'dd-MM-yyyy'}}</span>
    </p>
    <p style="text-indent: 0pt; text-align: left"><br /></p>
    <table
      style="border-collapse: collapse; margin-left: 9.5pt"
      cellspacing="0"
    >
      <tr style="height: 24pt">
        <td
          style="
            width: 203pt;
            border-top-style: solid;
            border-top-width: 1pt;
            border-left-style: solid;
            border-left-width: 1pt;
            border-bottom-style: solid;
            border-bottom-width: 1pt;
            border-right-style: solid;
            border-right-width: 1pt;
          "
        >
          <p
            class="s10"
            style="
              padding-left: 5pt;
              text-indent: 0pt;
              line-height: 13pt;
              text-align: left;
            "
          >
            Name of Deceased Share Holder
          </p>
        </td>
        <td
          style="
            width: 135pt;
            border-top-style: solid;
            border-top-width: 1pt;
            border-left-style: solid;
            border-left-width: 1pt;
            border-bottom-style: solid;
            border-bottom-width: 1pt;
            border-right-style: solid;
            border-right-width: 1pt;
          "
        >
          <p
            class="s10"
            style="text-indent: 0pt; line-height: 13pt; text-align: center"
          >
            Folio No.
          </p>
        </td>
        <td
          style="
            width: 116pt;
            border-top-style: solid;
            border-top-width: 1pt;
            border-left-style: solid;
            border-left-width: 1pt;
            border-bottom-style: solid;
            border-bottom-width: 1pt;
            border-right-style: solid;
            border-right-width: 1pt;
          "
        >
          <p
            class="s10"
            style="text-indent: 0pt; line-height: 13pt; text-align: center"
          >
            No. of Shares
          </p>
        </td>
      </tr>
      <tr style="height: 14pt">
        <td
          style="
            width: 203pt;
            border-top-style: solid;
            border-top-width: 1pt;
            border-left-style: solid;
            border-left-width: 1pt;
            border-bottom-style: solid;
            border-bottom-width: 1pt;
            border-right-style: solid;
            border-right-width: 1pt;
          "
        >
          <p
            class="s11"
            style="
              padding-left: 5pt;
              text-indent: 0pt;
              line-height: 13pt;
              text-align: left;
            "
          >
                        {{data.deceasedname}}
          </p>
        </td>
        <td
          style="
            width: 135pt;
            border-top-style: solid;
            border-top-width: 1pt;
            border-left-style: solid;
            border-left-width: 1pt;
            border-bottom-style: solid;
            border-bottom-width: 1pt;
            border-right-style: solid;
            border-right-width: 1pt;
          "
        >
          <p
            class="s12"
            style="text-indent: 0pt; line-height: 13pt; text-align: center"
          >
                        {{data.folioNo}}
          </p>
        </td>
        <td
          style="
            width: 116pt;
            border-top-style: solid;
            border-top-width: 1pt;
            border-left-style: solid;
            border-left-width: 1pt;
            border-bottom-style: solid;
            border-bottom-width: 1pt;
            border-right-style: solid;
            border-right-width: 1pt;
          "
        >
          <p class="s13" style="text-indent: 0pt; text-align: center">{{data.qty}}</p>
        </td>
      </tr>
    </table>
    <p style="padding-left: 5pt; text-indent: 0pt; text-align: justify">
      In the subject matter, I request you to please provide me complete share
      holdings under the abovementioned folio till date and provide me the
      procedure for the transmission and the procedure to claim all the unpaid
      dividend. Also, I request you to kindly register my above mentioned
      address in your records so that I cannot miss any communication from the
      company in future.
    </p>
    <p style="text-indent: 0pt; text-align: left"><br /></p>
    <p style="text-indent: 0pt; text-align: left"><br /></p>
    <p class="s2" style="padding-left: 5pt; text-indent: 0pt; text-align: left">
      Thanking you.
    </p>
    <p class="s6" style="padding-left: 5pt; text-indent: 0pt; text-align: left">
      Regards,
    </p>
    <p style="text-indent: 0pt; text-align: left"><br /></p>
    <p style="text-indent: 0pt; text-align: left"><br /></p>
    <h2 style="padding-left: 5pt; text-indent: 0pt; text-align: left; display: flex; justify-content: space-between;">
            @* MANAVKUMAR PARIKH *@ <b ng-show="!data.condition" ng-class="{'hide-print': data.condition}">{{data.firstHolder}}</b>
            <b ng-show="!data.condition" ng-class="{'hide-print': data.condition}">{{data.secondHolder}}</b>
            <b ng-show="!data.condition" ng-class="{'hide-print': data.condition}">{{data.thirdHolder}}</b>
            <b ng-show="data.condition" ng-class="{'hide-print': !data.condition}" ng-repeat="h in data.heirs">  {{h}}</b>
    </h2>
    </div>
    <div class="myarea">
        <button class="btn btn-store mybtn" ng-click="printDiv('printForm')">PRINT</button>
    </div>
  </body>
<script>
        angular.module('Stock-CMS', []).controller('FormController', function ($scope, $http,$timeout) {
            $scope.customers = [];
             $scope.hDiv = true;
            var params = new URLSearchParams(window.location.search);
            var id = params.get('id');
            var id2 = params.get('id2');
            var isProcessing = false;
            $scope.processdone = false;

            // showLoader();

             // Load Customers
        $scope.loadCustomers = function (sid,hid) {

             if(id){
                 hideLoader();
                 var currentDate = new Date();
             var monthsOfYear = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
                 $scope.hDiv = true;
            $http.get('/Enquiry/GetStocksById/'+id).then(function (response) {
                var result = response.data;
                 $http.get('/Form/GetHolderByStockId/' + id).then(function (response) {
                    $scope.doc = response.data;
                    var docs = $scope.doc.find(x => x.id === sid);

                     var isDeceased = !!docs?.dateOfDeath;

                if (isDeceased) {
                    $scope.heirId = null;
    $scope.legalheirlist = isDeceased;
    document.getElementById('heirId').value = '';
                    $http.get('/LegalHeir/GetClaimentLegalHeir/' + docs.id).then(function (response) {
                        $scope.heir = response.data;
                        var heirs = response.data.find(x => x.id === hid); // `hid` needs to be in scope
                        var holder = heirs;

                        populateData(holder, result,$scope.heir,isDeceased,docs);
                    }, function (error) {
                        console.error('Error loading legal heir data:', error);
                        hideLoader();
                    });
                } else {
                    $scope.heirId = null;
    $scope.data = null;
    $scope.legalheirlist = isDeceased;
    document.getElementById('heirId').value = '';
                    var holder = docs;
                    populateData(holder, result,$scope.heir,isDeceased,docs);
                }

                hideLoader();
                }, function (error) {
                    console.error('Error loading Docs:', error);
                    hideLoader();
                });
            }, function (error) {
                console.error('Error loading customers:', error);
                hideLoader();
            });
            }

            if(id2){
                 $scope.hDiv = false;
            $http.get('/Form/GetGenratedFormById/'+id2).then(function (response) {
                var result = response.data;
                var obj = JSON.parse(result.jsonString);
                $scope.data = {
                    docid: obj.docid,
                    customerName: obj.customerName,
                    today: obj.today,
                    folioNo : obj.folioNo,
                    mobile: obj.mobile,
                    qty:obj.qty,
                    address:obj.address,
                    officename: obj.officename,
                    officeaddress: obj.officeaddress,
                    unit: obj.unit,
                    deceasedname: obj.deceasedname,
                    dateofdemise: new Date(obj.dateofdemise),
                    firstHolder:obj.firstHolder,
                    secondHolder:obj.secondHolder,
                    thirdHolder:obj.thirdHolder,
					heirs: obj.heirs,
					condition: obj.condition,
                };
                 id = result.stockId;
                checkData();
                hideLoader();
            }, function (error) {
                console.error('Error loading customers:', error);
                hideLoader();
            });
            }

            function populateData(holder, result, heirlist,isDeceased,docs) {

                $scope.data = {
                    docid: holder.id,
                    customerName : holder.name,
                    today: new Date(),
                    folioNo : result.folioNo,
                    qty : result.qty,
                    mobile: !isDeceased ? result.firstHolderData.mobile : holder.mobile,
                    address : !isDeceased ? result.firstHolderData.addressAsPerAadhar : holder.addressAsPerAadhar,
                    officename : result.company.rtaName,
                    officeaddress: result.company.rtaAddress,
                    unit: result.companyName,
                    deceasedname:docs.nameAsPerDeathCerti,
                    dateofdemise: new Date(docs.dateOfDeath),
                    firstHolder :result.firstHolderName,
                    secondHolder:result.secondHolderName,
                    thirdHolder: result.thirdHolderName,
                    heirs: isDeceased ? heirlist.map(h => h.name) : [],
                        condition: isDeceased,
                };
            }
        };

            $scope.navtogenerateform = function () {
        window.open('/Form/GenerateForm/'+id, '_self');
    };
                        function checkData() {
        if ($scope.data !== undefined) {
            // Delay the printDiv execution until the next digest cycle
            $timeout(function() {
                $scope.printDiv('printForm');
            }, 0);  // 0 delay to ensure it runs after the view update
        } else {
            setTimeout(checkData, 1000); // Retry after 1000ms if data is not yet available
        }
    }

          $scope.calculateAge = function(dob) {
      if (!dob) {
        return '';
      }
      var birthDate = new Date(dob);
      var currentDate = new Date();
      var age = currentDate.getFullYear() - birthDate.getFullYear();
      var m = currentDate.getMonth() - birthDate.getMonth();

      // Adjust age if the current month is before the birth month or if the birth day hasn't occurred yet
      if (m < 0 || (m === 0 && currentDate.getDate() < birthDate.getDate())) {
        age--;
      }
      return age;
    };

        //Genrate Form
         $scope.genrateForm = function () {
             if(id){

                  if(!$scope.data.condition){
                     Swal.fire({
                         title: 'Error',
                         text: 'Customer is still Alive',
                         icon: 'error',
                         confirmButtonText: 'OK'
                     });
                     return;
                 }

                 $scope.processdone = true;
             let jsonString = JSON.stringify($scope.data, null, 2);
             var data ={
                 formName : 'Req Letter Transmission',
                 StockId : id,
                 url : `/Form/ReqLetterTransmission?id2=`,
                 jsonString : jsonString,
                 ClientName: $scope.data.customerName,
                  ClientId: $scope.data.docid,
                 IsActive : true
             }

             const url = '/Form/GenrateForm';
                $http.post(url, data).then(function (response) {
                    if (response.data.success) {
                        Swal.fire({
                            title: 'Success',
                            text: response.data.message || 'Operation successful!',
                            icon: 'success',
                            confirmButtonText: 'OK'
                        });
                        $scope.processdone = false;
                        // $scope.loadCustomers();
                                                window.open(response.data.data.url + response.data.data.id,'_self')

                    } else {
                        Swal.fire({
                         title: 'This Form is already Exits',
                         text: "do you want to go to that form?",
                         icon: 'warning',
                         showCancelButton: true,
                         confirmButtonText: 'Yes',
                         cancelButtonText: 'No'
                     }).then((result) => {
                         if (result.isConfirmed) {
                             window.open(response.data.message, '_self');
                         }
                 });
                 $scope.processdone = false;
                    }
                    isProcessing = false;
                }, function (error) {
                    Swal.fire({
                        title: 'Error',
                        text: 'An error occurred.',
                        icon: 'error',
                        confirmButtonText: 'OK'
                    });
                    $scope.processdone = false;
                    isProcessing = false;
                });
            //console.log(dataString);
            }
         }

            // Load Customers
            // $scope.loadCustomers = function () {
            //     $http.get('/Master/GetCustomers').then(function (response) {
            //         $scope.customers = response.data[0];
            //         hideLoader();
            //     }, function (error) {
            //         console.error('Error loading customers:', error);
            //         hideLoader();
            //     });
            // };

            // $scope.loadDocs = function () {
            //     if (true) {
            //         $http.get('/doc/getDocs/' + 1).then(function (response) {
            //             $scope.docs = response.data;
            //             hideLoader();
            //         }, function (error) {
            //             console.error('Error loading Docs:', error);
            //             hideLoader();
            //         });
            //     }
            // };

            //Function
            $scope.printDiv = function (divId) {
                        var css ='<style type="text/css"> * { margin: 0; padding: 0; text-indent: 0; } h1 { color: black; font-family: Calibri, sans-serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 22pt; } .h2, h2 { color: black; font-family: Calibri, sans-serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 12pt; } .s1 { color: black; font-family: Calibri, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 16pt; } .s2 { color: black; font-family: Calibri, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 11pt; } .s3 { color: black; font-family: Calibri, sans-serif; font-style: normal; font-weight: normal; text-decoration: underline; font-size: 11pt; } .s4 { color: black; font-family: Arial, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 11pt; } .s5 { color: black; font-family: Calibri, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 14pt; } .s6 { color: black; font-family: Calibri, sans-serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 11pt; } .s7 { color: black; font-family: Calibri, sans-serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 12pt; } h3 { color: black; font-family: Calibri, sans-serif; font-style: normal; font-weight: bold; text-decoration: underline; font-size: 11pt; } p { color: black; font-family: Calibri, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 11pt; margin: 0pt; } .s8 { color: black; font-family: Calibri, sans-serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 12pt; } .s9 { color: black; font-family: Calibri, sans-serif; font-style: normal; font-weight: bold; text-decoration: underline; font-size: 12pt; } .s10 { color: black; font-family: Calibri, sans-serif; font-style: normal; font-weight: bold; text-decoration: underline; font-size: 11pt; } .s11 { color: black; font-family: Calibri, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 12pt; } .s12 { color: black; font-family: Calibri, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 12pt; } .s13 { color: black; font-family: Calibri, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 11pt; } table, tbody { vertical-align: top; overflow: visible; } @@media print {.hide-print {display: none !important;}}</style>';
                var innerContents = document.getElementById(divId).innerHTML;
                var popupWinindow = window.open('', '_blank', 'width=600,height=700,scrollbars=no,menubar=no,toolbar=no,location=no,status=no,titlebar=no');
                popupWinindow.document.open();
                popupWinindow.document.write('<html><head><link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">' + css + '</ head > <body style="padding-left: 0 8% 0 8% ;"onload="window.print()">' + innerContents + '</html>');
                popupWinindow.document.close();
            };
            //Initialize
            $scope.loadCustomers();
            // $scope.loadDocs();
        });
</script>
</html>
