<html lang="en" ng-app="Stock-CMS">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Self-declaration for minor difference in name</title>
    <style type="text/css">
        * {
            margin: 0;
            padding: 0;
            text-indent: 0;
        }

        h1 {
            color: black;
            font-family: "Bookman Old Style", serif;
            font-style: normal;
            font-weight: bold;
            text-decoration: none;
            font-size: 11.5pt;
        }

        .s1 {
            color: black;
            font-family: "Times New Roman", serif;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            font-size: 11pt;
        }

        h2 {
            color: black;
            font-family: "Times New Roman", serif;
            font-style: normal;
            font-weight: bold;
            text-decoration: none;
            font-size: 11pt;
        }

        p {
            color: black;
            font-family: "Bookman Old Style", serif;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            font-size: 12pt;
            margin: 0pt;
        }

        .s4 {
            color: black;
            font-family: "Bookman Old Style", serif;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            font-size: 8pt;
            vertical-align: 4pt;
        }

        .s5 {
            color: black;
            font-family: "Times New Roman", serif;
            font-style: normal;
            font-weight: bold;
            text-decoration: none;
            font-size: 7pt;
            vertical-align: 3pt;
        }

        li {
            display: block;
        }

        #l1 {
            padding-left: 0pt;
            counter-reset: c1 1;
        }

            #l1 > li > *:first-child:before {
                counter-increment: c1;
                content: counter(c1, decimal) ". ";
                color: black;
                font-family: "Bookman Old Style", serif;
                font-style: normal;
                font-weight: normal;
                text-decoration: none;
                font-size: 12pt;
            }

            #l1 > li:first-child > *:first-child:before {
                counter-increment: c1 0;
            }


        .card {
            border-radius: 10px;
            overflow: hidden;
        }

        .form-group {
            margin-bottom: 1.5rem;
        }

        .form-label {
            font-size: 1.1rem;
            font-weight: 600;
        }

        .form-select {
            width: 100%;
            padding: 0.75rem;
            border-radius: 5px;
            border: 1px solid #ddd;
            font-size: 1rem;
        }

        .btn-primary {
            width: 100%;
            padding: 12px 16px;
            text-transform: uppercase;
            font-weight: bold;
            transition: background-color 0.3s ease, transform 0.2s ease;
        }

            .btn-primary:hover {
                background-color: #0056b3;
                transform: scale(1.05);
            }

        .mybtn {
            background-color: #003980 !important;
            color: white !important;
            width: auto !important;
        }

        .myarea {
            justify-content: center !important;
            display: flex !important;
            margin-top: 25px !important;
        }
    </style>
</head>
<body style="padding: 5% 5% 0 5% ;" ng-controller="FormController">
    <div class="row align-items-center">
        <!-- Arrow Icon aligned to the left -->
        <a class="col-md-1 text-start" style="font-size:35px;" ng-click="navtogenerateform()">
            <i class="bi bi-arrow-left"></i>
        </a>

        <!-- Centered Heading -->
        <div class="col-md-10 text-center">
            <h3>Self-declaration for minor difference in name</h3>
        </div>
    </div>
    <div ng-if="hDiv" class="container my-5">
        <div class="card shadow-sm">
            <div class="card-body">
                <form name="gForm" ng-submit="genrateForm()">
                    <h4 class="card-title text-center mb-4" style="color:#003980;">Generate Form</h4>

                    <div class="row">
                      <!-- Select Customer Dropdown -->
                        <div class="col-md-4 mb-3">
                            <div class="form-group">
                                <label for="seletedId" class="form-label">Select Customer</label>
                                <select class="form-select" id="seletedId" ng-options="f.id as f.name for f in docs" ng-model="seletedId" ng-change="loadCustomers(seletedId, heirId)">
                                    <option selected disabled value="">Select customer</option>
                                </select>
                            </div>
                        </div>

                        <!-- Select Heir Dropdown -->
                        <div class="col-md-4 mb-3" ng-show="legalheirlist">
                            <div class="form-group">
                                <label for="heirId" class="form-label">Select Heir</label>
                                <select class="form-select" id="heirId" ng-options="g.id as g.name for g in heir" ng-model="heirId" ng-change="loadCustomers(seletedId, heirId)">
                                    <option selected disabled value="">Select Heir</option>
                                </select>
                            </div>
                        </div>

                        
                    </div>

                    <!-- Submit Button -->
                    <div class="col-md-4 text-center m-2">
                        <button type="submit" ng-disabled="processdone" class="btn btn-primary px-4" style="background-color:#003980; color:white; border-radius: 5px;">
                            Generate Form
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="printForm">
    <h1 style="
        padding-top: 1pt;
        padding-left: 38pt;
        text-indent: 0pt;
        text-align: left;
      ">
        Self-declaration for minor difference in name (not for change of name)
    </h1>
    <p style="padding-top: 1pt; text-indent: 0pt; text-align: left"><br /></p>
    <p class="s1" style="padding-left: 5pt; text-indent: 0pt; text-align: left">
            To<br />
            {{data.officename}},<br />
            {{data.officeaddress}}
    </p>
    <p style="text-indent: 0pt; text-align: left"><br /></p>
    <p style="text-indent: 0pt; text-align: left"><br /></p>

        <h3 style="
        padding-top: 12pt;
        padding-left: 12pt;
        text-indent: 0pt;
        text-align: left;
font-size:medium;
      ">
            Name of Company:{{data.unit}},
        </h3>
        <h3 style="padding:0 350px 0 12pt; text-indent: 0pt; text-align: left;font-size:medium;">
            
        </h3>
    <p style="padding-top: 2pt; text-indent: 0pt; text-align: left"><br /></p>
    <h2 style="padding-left: 6pt; text-indent: 0pt; text-align: left">
        Folio Number :
        <u>
                {{data.folioNo}}
        </u>
    </h2>
    <p style="padding-top: 2pt; text-indent: 0pt; text-align: left"><br /></p>
    <h2 style="padding-left: 5pt; text-indent: 0pt; text-align: left">
        Number of shares :
        <u>{{data.qty}}</u>
    </h2>
    <p style="padding-top: 7pt; text-indent: 0pt; text-align: left"><br /></p>
    <p style="padding-left: 6pt; text-indent: 0pt;line-height: 2; text-align: justify">
            I/We  <u ng-show="!data.condition" ng-class="{'hide-print': data.condition}">{{data.firstHolder}}</u>
            <u ng-show="!data.condition" ng-class="{'hide-print': data.condition}">{{data.secondHolder}}</u>
            <u ng-show="!data.condition" ng-class="{'hide-print': data.condition}">{{data.thirdHolder}}</u>
            <u ng-show="data.condition" ng-class="{'hide-print': !data.condition}" ng-repeat="h in data.heirs">  {{h}}</u> Indian
        inhabitant, residing at <u>{{data.address}}</u> do hereby solemnly affirm and say that:
    </p>

    <p style="padding-top: 8pt; text-indent: 0pt; text-align: left;"><br /></p>
    <ol id="l1">
        <li data-list-text="1.">
            <p style="
            padding-left: 42pt;
            text-indent: -18pt;
            line-height: 138%;
            text-align: left;
            line-height: 1.8;
          ">
                Above mentioned shares/deb/bonds/unit were acquired by me/us for
                valuable consideration out of my/our own investment / funds.
            </p>
        </li>
        <li data-list-text="2.">
            <p style="
            padding-top: 1pt;
            padding-left: 41pt;
            text-indent: -18pt;
            text-align: left;
            line-height: 1.8;
          ">
                    As per PAN / Demat account Name of sole/1<span class="s4">st</span>/2<span class="s4">nd</span> holder is <u>{{data.nameonpan}}</u>.
            </p>

        </li>
        <li data-list-text="3.">
            <p style="
            padding-top: 6pt;
            padding-left: 41pt;
            text-indent: -18pt;
            text-align: left;
            line-height: 1.8;
          ">
                    As per share certificate Name of sole/1<span class="s4">st</span>/2<span class="s4">nd</span> holder is <u>{{data.customerName}}</u> which is incorrect.
            </p>
        </li>
        <li data-list-text="4.">
            <p style="
            padding-top: 6pt;
            padding-left: 42pt;
            text-indent: -18pt;
            line-height: 138%;
            text-align: left;
            line-height: 1.8;
          ">
                Name on Share certificate(s)/PAN/Client master list as mentioned above
                is one and the same person.
            </p>
        </li>
    </ol>
    <p style="padding-top: 6pt; text-indent: 0pt; text-align: left"><br /></p>
    <p style="padding-top: 6pt; text-indent: 0pt; text-align: left"><br /></p>
    <h2 style="padding-left: 5pt; text-indent: 0pt; text-align: left">
        Sole/1<span class="s5">st</span> holder
    </h2>
    <p style="text-indent: 0pt; text-align: left"><br /></p>
    <p style="text-indent: 0pt; text-align: left"><br /></p>
    <h2 style="padding-left: 6pt; text-indent: 0pt; text-align: left">
        Signature Date
    </h2>
    <p style="text-indent: 0pt; text-align: left"><br /></p>
    <p style="text-indent: 0pt; text-align: left"><br /></p>
    <p class="s1" style="padding-left: 5pt; text-indent: 0pt; text-align: left">
        Note: Name of shareholder(s) should be as per PAN and Client Master list.
    </p>
     </div>
    <div class="myarea">
        <button class="btn btn-store mybtn" ng-click="printDiv('printForm')">PRINT</button>
    </div>
</body>

<script>
    angular.module('Stock-CMS', []).controller('FormController', function ($scope, $http,$timeout) {
        $scope.customers = [];
                     $scope.hDiv = true;
            var params = new URLSearchParams(window.location.search);
            var id = params.get('id');
            var id2 = params.get('id2');
        var isProcessing = false;
        $scope.processdone = false;

        // showLoader();

         // Load Customers
         $scope.loadCustomers = function (sid,hid) {
         if(id){
             hideLoader();
             $scope.hDiv = true;
        $http.get('/Enquiry/GetStocksById/'+id).then(function (response) {
            var result = response.data;
            $http.get('/Form/GetHolderByStockId/' +  id).then(function (response) {
                 $scope.docs = response.data;
                var doc = $scope.docs.find(x => x.id === sid);

                 var isDeceased = !!doc?.dateOfDeath;

                if (isDeceased) {
                    $scope.heirId = null;
    $scope.legalheirlist = isDeceased;
    document.getElementById('heirId').value = '';
                    $http.get('/LegalHeir/GetClaimentLegalHeir/' + doc.id).then(function (response) {
                        $scope.heir = response.data;
                        var heirs = response.data.find(x => x.id === hid); // `hid` needs to be in scope
                        var holder = heirs;

                        populateData(holder, result,$scope.heir,isDeceased);
                    }, function (error) {
                        console.error('Error loading legal heir data:', error);
                        hideLoader();
                    });
                } else {
                    $scope.heirId = null;
    $scope.data = null;
    $scope.legalheirlist = isDeceased;
    document.getElementById('heirId').value = '';
                    var holder = doc;
                    populateData(holder, result,$scope.heir,isDeceased);
                }

            hideLoader();
            }, function (error) {
                console.error('Error loading Docs:', error);
                hideLoader();
            });
        }, function (error) {
            console.error('Error loading customers:', error);
            hideLoader();
        });
        }

        if(id2){
             $scope.hDiv = false;
        $http.get('/Form/GetGenratedFormById/'+id2).then(function (response) {
            var result = response.data;
            var obj = JSON.parse(result.jsonString);
            $scope.data = {
                docid: obj.docid,
                nameonpan: obj.nameonpan,
                customerName: obj.customerName,
                folioNo : obj.folioNo,
                qty : obj.qty,
                address:obj.address,
                officename: obj.officename,
                officeaddress: obj.officeaddress,
                unit: obj.unit,

                clientid:obj.clientid,
                date:new Date(obj.date),
                firstHolder: obj.firstHolder,
                secondHolder: obj.secondHolder,
                thirdHolder: obj.thirdHolder,
                nameasperCertificate: obj.nameasperCertificate,
                heirs: obj.heirs,
				condition: obj.condition,

            };
                            id = result.stockId;

            checkData();
            hideLoader();
        }, function (error) {
            console.error('Error loading customers:', error);
            hideLoader();
        });
        }

        function populateData(holder, result, heirlist,isDeceased) {
            $scope.data = {
                docid: holder.id,
                nameonpan: holder.nameAsPerPan,
                customerName : holder.name,
                qty:result.qty,
                folioNo : result.folioNo,
                address : holder.addressAsPerAadhar,
                officename : result.company.rtaName,
                officeaddress: result.company.rtaAddress,
                unit: result.companyName,
                date:new Date(),
                nameasperCertificate: holder.nameAsPerCertificate,
                firstHolder: result.firstHolderName,
                secondHolder: result.secondHolderName,
                thirdHolder: result.thirdHolderName,
                heirs: isDeceased ? heirlist.map(h => h.name) : [],
                condition: isDeceased,
            };
        }
    };

                    function checkData() {
        if ($scope.data !== undefined) {
            // Delay the printDiv execution until the next digest cycle
            $timeout(function() {
                $scope.printDiv('printForm');
            }, 0);  // 0 delay to ensure it runs after the view update
        } else {
            setTimeout(checkData, 1000); // Retry after 1000ms if data is not yet available
        }
    }

        $scope.navtogenerateform = function () {
        window.open('/Form/GenerateForm/'+id, '_self');
    };

    //Genrate Form
     $scope.genrateForm = function () {
         if(id){
             $scope.processdone = true;
         let jsonString = JSON.stringify($scope.data, null, 2);
         var data ={
             formName : 'SelfDeclaration Minor Name Difference',
             StockId : id,
             url : `/Form/SelfDeclarationMinorNameDifference?id2=`,
             jsonString : jsonString,
             ClientName: $scope.data.customerName,
              ClientId: $scope.data.docid,
             IsActive : true
         }

         const url = '/Form/GenrateForm';
            $http.post(url, data).then(function (response) {
                if (response.data.success) {
                    Swal.fire({
                        title: 'Success',
                        text: response.data.message || 'Operation successful!',
                        icon: 'success',
                        confirmButtonText: 'OK'
                    });
                    $scope.processdone = false;
                    // $scope.loadCustomers();
                                            window.open(response.data.data.url + response.data.data.id,'_self')

                } else {
                    Swal.fire({
                         title: 'This Form is already Exits',
                         text: "do you want to go to that form?",
                         icon: 'warning',
                         showCancelButton: true,
                         confirmButtonText: 'Yes',
                         cancelButtonText: 'No'
                     }).then((result) => {
                         if (result.isConfirmed) {
                             window.open(response.data.message, '_self');
                         }
                 });
                 $scope.processdone = false;
                }
                isProcessing = false;
            }, function (error) {
                Swal.fire({
                    title: 'Error',
                    text: 'An error occurred.',
                    icon: 'error',
                    confirmButtonText: 'OK'
                });
                $scope.processdone = false;
                isProcessing = false;
            });
        //console.log(dataString);
        }
     }

        // Load Customers
        // $scope.loadCustomers = function () {
        //     $http.get('/Master/GetCustomers').then(function (response) {
        //         $scope.customers = response.data[0];
        //         hideLoader();
        //     }, function (error) {
        //         console.error('Error loading customers:', error);
        //         hideLoader();
        //     });
        // };

        // $scope.loadDocs = function () {
        //     if (true) {
        //         $http.get('/doc/getDocs/' + 1).then(function (response) {
        //             $scope.docs = response.data;
        //             hideLoader();
        //         }, function (error) {
        //             console.error('Error loading Docs:', error);
        //             hideLoader();
        //         });
        //     }
        // };

        //Function
        $scope.printDiv = function (divId) {
                var css ='<style type="text/css"> * { margin: 0; padding: 0; text-indent: 0; } h1 { color: black; font-family: Calibri, sans-serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 22pt; } .h2, h2 { color: black; font-family: Calibri, sans-serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 12pt; } .s1 { color: black; font-family: Calibri, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 16pt; } .s2 { color: black; font-family: Calibri, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 11pt; } .s3 { color: black; font-family: Calibri, sans-serif; font-style: normal; font-weight: normal; text-decoration: underline; font-size: 11pt; } .s4 { color: black; font-family: Arial, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 11pt; } .s5 { color: black; font-family: Calibri, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 14pt; } .s6 { color: black; font-family: Calibri, sans-serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 11pt; } .s7 { color: black; font-family: Calibri, sans-serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 12px; } h3 { color: black; font-family: Calibri, sans-serif; font-style: normal; font-weight: bold; text-decoration: underline; font-size: 11pt; } p { color: black; font-family: Calibri, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 11pt; margin: 0pt; } .s8 { color: black; font-family: Calibri, sans-serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 12pt; } .s9 { color: black; font-family: Calibri, sans-serif; font-style: normal; font-weight: bold; text-decoration: underline; font-size: 12pt; } .s10 { color: black; font-family: Calibri, sans-serif; font-style: normal; font-weight: bold; text-decoration: underline; font-size: 11pt; } .s11 { color: black; font-family: Calibri, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 12pt; } .s12 { color: black; font-family: Calibri, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 12pt; } .s13 { color: black; font-family: Calibri, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 11pt; } table, tbody { vertical-align: top; overflow: visible; } @@media print {.hide-print {display: none !important;}}</style>';
            var innerContents = document.getElementById(divId).innerHTML;
            var popupWinindow = window.open('', '_blank', 'width=600,height=700,scrollbars=no,menubar=no,toolbar=no,location=no,status=no,titlebar=no');
            popupWinindow.document.open();
            popupWinindow.document.write('<html><head><link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">' + css + '</ head > <body style="padding: 0 5% 0 5%;"onload="window.print()">' + innerContents + '</html>');
            popupWinindow.document.close();
        };
        //Initialize
        $scope.loadCustomers();
        // $scope.loadDocs();
    });
</script>
</html>
