<body ng-app="Stock-CMS">
<h1>Dashboard</h1>
</body>
<script>

    var app = angular.module('Stock-CMS', []);

    app.controller('dashboardCtrl', function ($scope, $http, $window) {

    });
</script>