
<!DOCTYPE html>
<html lang="en" ng-app="Stock-CMS">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client Management</title>
</head>

<body ng-controller="ClientController">
    <div class="app-wrapper">
        <div class="app-content pt-3 p-md-3 p-lg-4">
            <div class="container-xl">
                <div class="row g-3 mb-4 align-items-center justify-content-between">
                    <!-- Left Side: Back Button and Title -->
                    <div class="d-flex align-items-center col-md-6">
                       
                        <h1 class="app-page-title mb-0">Client Management</h1>
                    </div>

                    <!-- Right Side: Search and Add New Client -->
                    <div class="col-md-6">
                        <div class="page-utilities">
                            <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
                                <div class="col-auto">
                                    <form class="table-search-form row gx-1 align-items-center">
                                        <div class="col-auto">
                                            <input type="text" ng-model="searchQuery" class="form-control search-box" placeholder="Search">
                                        </div>
                                    </form>
                                </div>
                                <div class="col-auto">
                                    <button class="btn app-btn-primary" style="background-color:#003980;color:white" ng-click="openCustomerModal()">Add New Client</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <nav id="orders-table-tab" class="orders-table-tab app-nav-tabs nav shadow-sm flex-column flex-sm-row mb-1">
                        <a class="flex-sm-fill text-sm-center nav-link active" data-bs-toggle="tab" ng-click="filter()" role="tab" aria-selected="true">All</a>
                        <a class="flex-sm-fill text-sm-center nav-link" data-bs-toggle="tab" ng-click="filter(false)" role="tab" aria-selected="false">Enquiry</a>
                        <a class="flex-sm-fill text-sm-center nav-link" data-bs-toggle="tab" ng-click="filter(true)" role="tab" aria-selected="false">Client</a>
                    </nav>
                </div>

                <div class="app-card app-card-orders-table shadow-sm mb-5">
                    <div class="app-card-body">
                        <div class="table-responsive">
                            <table class="table app-table-hover mb-0 text-left text-nowrap">
                                <thead>
                                    <tr>
                                        <th class="cell">#</th>
                                        <th class="cell">Client Name</th>
                                        <th class="cell">Mobile</th>
                                        <th class="cell">Address</th>
                                        <th class="cell">Created At</th>
                                        <th class="cell">Created By</th>
                                        <th class="cell">Updated At</th>
                                        <th class="cell">Updated By</th>
                                        <th class="cell">Edit</th>
                                        <th ng-hide="search" class="cell">C2C</th>
                                        @* <th ng-hide="search" class="cell">IsClient</th> *@
                                        @* <th ng-hide="search" class="cell">Convert to Client</th> *@
                                        <th class="cell">Docs</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="customer in customers | filter: searchQuery | filter:{isClient:search}">
                                        <td class="cell">{{ $index + 1 }}</td>
                                        <td ng-click="manageClient(customer.id)" class="cell">{{ customer.customerName }}</td>
                                        <td class="cell">{{ customer.mobile }}</td>
                                        <td class="cell">{{ customer.address }}</td>
                                        <td class="cell">{{ customer.createdAt | date:'dd-MM-yyyy' }}</td>
                                        <td class="cell">{{ customer.createdByName }}</td>
                                        <td class="cell">{{ customer.updatedAt | date:'dd-MM-yyyy' }}</td>
                                        <td class="cell">{{ customer.updatedByName }}</td>
                                        <td class="cell">
                                            <span class="btn-sm app-btn" style="color:green;font-size:large" ng-click="openCustomerModal(customer)" data-tooltip="Edit Client">
                                                <i class="bi bi-pencil"></i>
                                            </span>
                                        </td>
                                        
                                        <td ng-hide="search" class="cell text-center">
                                            <span class="btn-sm app-btn" style="color:green;font-size:large" ng-hide="customer.isClient" ng-click="updateIsClient(customer)" data-tooltip="Convert to Client">
                                                <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="m12 0-.66.03 3.81 3.81 1.35-1.34c3.25 1.57 5.59 4.74 5.95 8.5h1.5c-.51-6.16-5.66-11-11.95-11m0 4c-1.93 0-3.5 1.57-3.5 3.5s1.57 3.5 3.5 3.5 3.5-1.57 3.5-3.5-1.57-3.5-3.5-3.5m-11.95 9c.51 6.16 5.66 11 11.95 11l.66-.03-3.81-3.81-1.35 1.34c-3.25-1.56-5.59-4.74-5.95-8.5zm11.95 0c-3.87 0-7 1.57-7 3.5v1.5h14v-1.5c0-1.93-3.13-3.5-7-3.5z" /></svg>
                                            </span>
                                        </td>

                                        <td class="cell">
                                            <span class="btn-sm app-btn" style="color:green;font-size:large" ng-click="manageDocs(customer.id)" data-tooltip="Docs">
                                                <i class="bi bi-file-earmark-text"></i>
                                            </span>
                                        </td>
                                       @*  <td class="cell text-center" ng-click="manageDocs(customer.id)">Docs</td> *@
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- Add/Edit Customer Modal -->
    <div class="modal fade" id="customerModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" style="max-width:65%" role="document">
            <div class="modal-content">
                <form ng-submit="saveCustomer()">
                    <div class="modal-header">
                        <h5 class="modal-title">{{ isEditing ? 'Edit Client' : 'Add Client' }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="customerName">Client Name</label>
                                    <input type="text" id="customerName" ng-model="currentCustomer.customerName" class="form-control" placeholder="Client Name" required />
                                </div>
                            </div> 

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="mobile">Mobile</label>
                                    <input type="text" id="mobile" ng-model="currentCustomer.mobile" class="form-control" placeholder="Mobile" />
                                </div>
                            </div> 

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="address">Address</label>
                                    <textarea id="address" ng-model="currentCustomer.address" class="form-control" placeholder="Address"></textarea>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="text-center m-2">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn" style="background-color:#003980;color:white">{{ isEditing ? 'Save Changes' : 'Add Client' }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        angular.module('Stock-CMS', []).controller('ClientController', function ($scope, $http) {
            $scope.customers = [];
            $scope.currentCustomer = {};
            $scope.isEditing = false;
            var isProcessing = false;

            showLoader();

            // Load Customers
            $scope.loadCustomers = function () {
                $http.get('/Master/GetCustomers').then(function (response) {
                    $scope.customers = response.data;
                    hideLoader();
                }, function (error) {
                    console.error('Error loading customers:', error);
                    hideLoader();
                });
            };

            $scope.filter = function(filter){
                $scope.search = filter;
            }

            // Open Modal
            $scope.openCustomerModal = function (customer = null) {
                $scope.isEditing = !!customer;
                $scope.currentCustomer = customer ? angular.copy(customer) : {};
                $('#customerModal').modal('show');
            };

            // Save Customer
            $scope.saveCustomer = function () {
                if (isProcessing) return;
                isProcessing = true;
                const url = $scope.isEditing ? '/Master/UpdateCustomer/' + $scope.currentCustomer.id : '/Master/CreateCustomer';
                $http.post(url, $scope.currentCustomer).then(function (response) {
                    if (response.data.success) {
                        Swal.fire({
                            title: 'Success',
                            text: response.data.message || 'Operation successful!',
                            icon: 'success',
                            confirmButtonText: 'OK'
                        });
                        $scope.loadCustomers();
                        $('#customerModal').modal('hide');
                    } else {
                        Swal.fire({
                            title: 'Error!',
                            text: response.data.message || 'There was an issue adding the customer.',
                            icon: 'error',
                            confirmButtonText: 'Try Again'
                        });
                    }
                    isProcessing = false;
                }, function (error) {
                    Swal.fire({
                        title: 'Error',
                        text: 'An error occurred.',
                        icon: 'error',
                        confirmButtonText: 'OK'
                    });
                    isProcessing = false;
                });
            };


            // Save  Customer Column
            $scope.updateIsClient = function (object) {
                if (isProcessing) return;
                isProcessing = true;
                const url = '/Master/UpdateCustomerbyColumn';
                $http.post(url, object).then(function (response) {
                    if (response.data.success) {
                        Swal.fire({
                            title: 'Success',
                            text: response.data.message || 'Operation successful!',
                            icon: 'success',
                            confirmButtonText: 'OK'
                        });
                        $scope.loadCustomers();
                    } else {
                        Swal.fire({
                            title: 'Error!',
                            text: response.data.message || 'There was an issue adding the customer.',
                            icon: 'error',
                            confirmButtonText: 'Try Again'
                        });
                    }
                    isProcessing = false;
                }, function (error) {
                    Swal.fire({
                        title: 'Error',
                        text: 'An error occurred.',
                        icon: 'error',
                        confirmButtonText: 'OK'
                    });
                    isProcessing = false;
                });
            };

             $scope.manageClient = function (id) {
                window.open('/Enquiry/Index/' + id, '_self');
            };

             $scope.manageDocs = function (id) {
                window.open('/Doc/Doc/' + id, '_self');
            };

            // Initial load
            $scope.loadCustomers();
        });
    </script>
</body>
</html>
