<!DOCTYPE html>
<html lang="en" ng-app="Stock-CMS">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Management - ENPAY</title>
</head>

<body ng-controller="CustomerController">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <div class="text-center">
                            <h1 class="page-title mb-0">Customer Management</h1>
                        </div>

                        <div class="row justify-content-between">
                            <div class="col-5 col-md-3 mt-2 mt-md-0">
                                <div class="search-input-wrapper">
                                    <input type="text" ng-model="searchQuery" class="form-control search-box" placeholder="Search" />
                                </div>
                            </div>
                            <div class="col-2 ms-auto text-right" style="text-align: end;">
                                <button class="btn btn-custom" style="background-color:#003980;color:white" ng-click="openCustomerModal()">Add New Customer</button>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Customer Name</th>
                                            <th>Mobile</th>
                                            <th>Address</th>
                                            <th>Edit</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="customer in customers | filter: searchQuery">
                                            <td>{{ $index + 1 }}</td>
                                            <td>{{ customer.customerName }}</td>
                                            <td>{{ customer.mobile }}</td>
                                            <td>{{ customer.address }}</td>
                                            <td>
                                                <span class="btn-sm btn-custom" style="color:green;font-size:x-large" ng-click="openCustomerModal(customer)" data-tooltip="Edit Customer">
                                                    <i class="bi bi-pencil"></i>
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Add/Edit Customer Modal -->
    <div class="modal fade" id="customerModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form ng-submit="saveCustomer()">
                    <div class="modal-header">
                        <h5 class="modal-title">{{ isEditing ? 'Edit Customer' : 'Add Customer' }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="customerName">Customer Name</label>
                            <input type="text" id="customerName" ng-model="currentCustomer.customerName" class="form-control" placeholder="Customer Name" required />
                        </div>
                        <div class="form-group">
                            <label for="mobile">Mobile</label>
                            <input type="text" id="mobile" ng-model="currentCustomer.mobile" class="form-control" placeholder="Mobile" />
                        </div>
                        <div class="form-group">
                            <label for="address">Address</label>
                            <textarea id="address" ng-model="currentCustomer.address" class="form-control" placeholder="Address"></textarea>
                        </div>
                       
                    </div>
                    <div class="text-center m-2">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn" style="background-color:#003980;color:white">{{ isEditing ? 'Save Changes' : 'Add Customer' }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        angular.module('Stock-CMS', []).controller('CustomerController', function ($scope, $http) {
            $scope.customers = [];
            $scope.currentCustomer = {};
            $scope.isEditing = false;
            var isProcessing = false;

            showLoader();

            // Load Customers
            $scope.loadCustomers = function () {
                $http.get('/Master/GetCustomers').then(function (response) {
                    $scope.customers = response.data;
                    hideLoader();
                }, function (error) {
                    console.error('Error loading customers:', error);
                    hideLoader();
                });
            };

            // Open Modal
            $scope.openCustomerModal = function (customer = null) {
                $scope.isEditing = !!customer;
                $scope.currentCustomer = customer ? angular.copy(customer) : {};
                $('#customerModal').modal('show');
            };

            // Save Customer
            $scope.saveCustomer = function () {
                if (isProcessing) return;
                isProcessing = true;
                const url = $scope.isEditing ? '/Master/UpdateCustomer/' + $scope.currentCustomer.id : '/Master/CreateCustomer';
                $http.post(url, $scope.currentCustomer).then(function (response) {
                    if (response.data.success) {
                        Swal.fire({
                            title: 'Success',
                            text: response.data.message || 'Operation successful!',
                            icon: 'success',
                            confirmButtonText: 'OK'
                        });
                        $scope.loadCustomers();
                        $('#customerModal').modal('hide');
                    } else {
                        Swal.fire({
                            title: 'Error!',
                            text: response.data.message || 'There was an issue adding the customer.',
                            icon: 'error',
                            confirmButtonText: 'Try Again'
                        });
                    }
                    isProcessing = false;
                }, function (error) {
                    Swal.fire({
                        title: 'Error',
                        text: 'An error occurred.',
                        icon: 'error',
                        confirmButtonText: 'OK'
                    });
                    isProcessing = false;
                });
            };

            // Initial load
            $scope.loadCustomers();
        });
    </script>
</body>
</html>
